In [ ]:
%pip uninstall -y SQLAlchemy
%pip install "SQLAlchemy>=2.0,<2.1" ipython-sql pyodbc
import sqlalchemy, sys
print("SQLAlchemy:", sqlalchemy.__version__, "| Python:", sys.version)

Found existing installation: SQLAlchemy 2.0.43
Uninstalling SQLAlchemy-2.0.43:
  Successfully uninstalled SQLAlchemy-2.0.43
Note: you may need to restart the kernel to use updated packages.
Collecting SQLAlchemy<2.1,>=2.0
  Downloading sqlalchemy-2.0.44-cp311-cp311-macosx_10_9_x86_64.whl.metadata (9.5 kB)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: pyodbc in /usr/local/lib/python3.11/site-packages (5.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/site-packages (from SQLAlchemy<2.1,>=2.0) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/devak/Library/Python/3.11/lib/python/site-packages (from SQLAlchemy<2.1,>=2.0) (4.15.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython-sql) (9.5.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /Users/devak/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /Users/devak/Library/Python/3.11/lib/python/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/devak/Library/Python/3.11/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /Users/devak/Library/Python/3.11/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/devak/Library/Python/3.11/lib/python/site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/devak/Library/Python/3.11/lib/python/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in /Users/devak/Library/Python/3.11/lib/python/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading sqlalchemy-2.0.44-cp311-cp311-macosx_10_9_x86_64.whl (2.1 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2.1/2.1 MB 6.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: SQLAlchemy
Successfully installed SQLAlchemy-2.0.44

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: /usr/local/opt/python@3.11/bin/python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
SQLAlchemy: 2.0.44 | Python: 3.11.13 (main, Jun  3 2025, 18:38:25) [Clang 16.0.0 (clang-1600.0.26.6)]

In [ ]:
%pip install "prettytable<3.10"

Requirement already satisfied: prettytable<3.10 in /usr/local/lib/python3.11/site-packages (3.9.0)
Requirement already satisfied: wcwidth in /Users/devak/Library/Python/3.11/lib/python/site-packages (from prettytable<3.10) (0.2.13)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: /usr/local/opt/python@3.11/bin/python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%load_ext sql

In [ ]:
%sql mssql+pyodbc://sa:YourStrong!Passw0rd@localhost:1433/WideWorldImporters?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes

In [ ]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %code_wrap  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %mamba  %man  %matplotlib  %micromamba  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %sql  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %uv  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%code_wrap  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%sql  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

## âš™ï¸ Setup Instructions (for Windows / SQL Server)
    This notebook is designed to run SQL queries on the WideWorldImporters database
    using the ipython-sql extension inside Jupyter Notebook.
    If you are running this on a Windows system (e.g., through Anaconda, VS Code, or Jupyter Lab),
    please follow these setup steps carefully.

---

 ## ðŸ§© 1. Install Required Packages

    Before running any cells, open a new Jupyter Notebook cell and install the following dependencies (**only once**):

```bash

!pip install ipython-sql pyodbc sqlalchemy
%load_ext sql

## Example connection string (edit as needed):
## %sql mssql+pyodbc://sa:YourPassword@localhost:1433/WideWorldImporters?driver=ODBC+Driver+18+for+SQL+Server

## ðŸ“ Note:
## Requires ODBC Driver 18 for SQL Server:
## https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server
## Database name must be WideWorldImporters.
## Adjust the connection string if using a named instance or custom port.

---

### **Proposition 1 â€” Stock Items with the Color â€˜Redâ€™**

**Outer Query:**  
The outer query retrieves each itemâ€™s `StockItemID`, `StockItemName`, `SupplierID`, and `TaxRate` from the `Warehouse.StockItems` table.  
Its purpose is to list all stock items along with their supplier and tax information.  
It applies a filter on the column `ColorID`, which determines each itemâ€™s color classification.

**Inner Query:**  
The subquery reads the `Warehouse.Colors` table and looks for the row where `ColorName = 'Red'`.  
It returns the `ColorID` corresponding to 'Red'.  
Because `ColorName` is unique, the subquery produces a **single value**, making it a **scalar subquery**.

**Overall Result:**  
The query lists all stock items whose `ColorID` matches the one returned by the inner subqueryâ€”  
i.e., every item colored â€˜Redâ€™.  
The inner query does **not** reference the outer table, so this is an **uncorrelated scalar subquery**.

In [1]:
%%sql

SELECT StockItemID, StockItemName, SupplierID, TaxRate
FROM Warehouse.StockItems
WHERE ColorID=
(
  SELECT c.ColorID
  FROM Warehouse.Colors AS c
  WHERE c.ColorName='Red'
)

UsageError: Cell magic `%%sql` not found.

### **Proposition 2 â€” People Who Have Listed Other Languages**

**Outer Query:**  
Selects `PersonID`, `FullName`, and `OtherLanguages` from `Application.People` to display details of each person.  
It aims to identify individuals who have at least one language recorded in `OtherLanguages`.

**Inner Query:**  
The subquery examines `Application.People` again and returns every `PersonID` for which `OtherLanguages IS NOT NULL`.  
This produces a **set of multiple values**.

**Overall Result:**  
The outer query keeps only those people whose `PersonID` appears in that setâ€”meaning they have one or more additional languages.  
Because the subquery is **independent** of the outer query and returns **multiple rows**,  
this is a **multi-row IN subquery**.

In [ ]:
%%sql

SELECT p.PersonID, p.FullName, p.OtherLanguages
FROM Application.People AS p
WHERE p.PersonID IN (
  SELECT x.PersonIDRS
  FROM Application.People AS x
  WHERE x.OtherLanguages IS NOT NULL
);

### **Proposition 3 â€” Cities Starting with â€˜Aâ€™ in StateProvinceID = 1**

**Outer Query:**  
Retrieves `CityName`, `StateProvinceID`, and `LatestRecordedPopulation` from `Application.Cities`.  
It filters by two conditions:  
1ï¸âƒ£ `CityName LIKE 'A%'` â€” city names beginning with â€˜Aâ€™.  
2ï¸âƒ£ `StateProvinceID = ( subquery )` â€” value provided by the inner query.

**Inner Query:**  
Reads `Application.StateProvinces` and returns the `StateProvinceID` where `StateProvinceID = 1`.  
Since that expression yields exactly one row and column, itâ€™s a **scalar subquery**.

**Overall Result:**  
Displays every city whose name starts with â€˜Aâ€™ and that belongs to StateProvinceID 1.  
The inner query never references outer data, so this is a **simple, uncorrelated scalar subquery** .

In [ ]:
%%sql


SELECT cityName, StateProvinceID, LatestRecordedPopulation
FROM Application.Cities
WHERE StateProvinceID =
(
    SELECT StateProvinceID -- scalar subquery can return just one value
    FROM Application.StateProvinces
    WHERE StateProvinceID = 1

)
AND CityName LIKE 'A%';

### **Proposition 4 â€” Cities Starting with â€˜Aâ€™ in StateProvinces 1, 2, or 3**

**Outer Query:**  
Selects `CityName`, `StateProvinceID`, and `LatestRecordedPopulation` from `Application.Cities`.  
It filters cities whose names start with â€˜Aâ€™ and whose province ID appears in a list returned by the subquery.

**Inner Query:**  
Scans `Application.StateProvinces` and returns every `StateProvinceID` in (1, 2, 3).  
This produces a **multi-row result set**.

**Overall Result:**  
The outer query retrieves all cities beginning with â€˜Aâ€™ that belong to any of those three provinces.  
Because the subquery yields multiple values and does not depend on the outer query,  
it demonstrates a **multi-row IN subquery**.

In [ ]:
%%sql

SELECT CityName, StateProvinceID, LatestRecordedPopulation
FROM Application.Cities
WHERE StateProvinceID IN (
    SELECT StateProvinceID
    FROM Application.StateProvinces
    WHERE StateProvinceID NOT IN (1, 2, 3)
)
AND LatestRecordedPopulation < 10;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Almanor', 5, 0),
 ('Anoka', 28, 6),
 ('Artas', 43, 9),
 ('Baker', 26, 3),
 ('Bergen', 35, 7),
 ('Bijou Hills', 43, 6),
 ('Bonanza', 46, 1),
 ('Bowden', 51, 9),
 ('Brewster', 10, 3),
 ('Cardin', 37, 3),
 ('Caribou', 5, 0),
 ('Cave', 26, 5),
 ('Cedar Slope', 5, 0),
 ('Clayton', 13, 7),
 ('Clear Creek', 46, 4),
 ('Cottonwood', 43, 9),
 ('Florida', 26, 0),
 ('Freeport', 17, 5),
 ('Fulford', 6, 2),
 ('Funkley', 24, 5),
 ('Goss', 26, 0),
 ('Grano', 35, 7),
 ('Greenhorn', 38, 0),
 ('Gross', 28, 2),
 ('Guerra', 45, 6),
 ('Halls Crossing', 46, 6),
 ('Hillsview', 43, 3),
 ('Lakeside', 26, 0),
 ('Lambert', 37, 6),
 ('Laurier', 50, 1),
 ('Lily', 43, 4),
 ('Loraine', 35, 9),
 ('Lost Springs', 53, 4),
 ('Lotsee', 37, 2),
 ('Lowry', 43, 6),
 ('Magnet Cove', 4, 5),
 ('Monowi', 28, 1),
 ('Newkirk', 32, 7),
 ('Norrie', 6, 7),
 ('Owl Creek', 53, 5),
 ('Peaceful Village', 26, 9),
 ('Perth', 35, 9),
 ('Poso Park', 5, 9),
 ('Ruso', 35, 4),
 ('Silver City', 5, 0),
 ('Southfield', 22, 0),
 ('Storla', 43, 6),
 ('Storrie', 5, 4),
 ('Table Rock', 53, 0),
 ('Tavistock', 31, 5),
 ('Tenney', 24, 5),
 ('Three Creeks', 26, 6),
 ('Thurmond', 51, 5),
 ('Valley Wells', 5, 0),
 ('Verdon', 43, 5),
 ('Warm River', 13, 3),
 ('Wetonka', 43, 8),
 ('White Rock', 43, 3),
 ('Whites City', 32, 7),
 ('Wilsonia', 5, 5)]

### **Proposition5 â€” Cities Above Average Population in StateProvinceID = 1**

**Outer Query:**  
The outer query retrieves the city name and latest recorded population from the `Application.Cities` table.  
It also limits the results to only those cities where `StateProvinceID = 1`, meaning the query focuses on a single province or state.

**Inner Query:**  
For each city returned by the outer query, the inner (correlated) subquery calculates the **average population** of all cities that share the same `StateProvinceID`.  
It compares this calculated average to the outer cityâ€™s population using the condition  
`c.LatestRecordedPopulation > (average population of that state)`.

**Overall Result:**  
The query lists all cities within `StateProvinceID = 1` whose populations are **greater than the average population** of all other cities in that same province.  
Because the inner query references the outer queryâ€™s `StateProvinceID`, it is a **correlated subquery** â€” the inner query runs once for each row in the outer query.

In [ ]:
%%sql
SELECT c.CityName, c.LatestRecordedPopulation
FROM Application.Cities AS c
WHERE c.LatestRecordedPopulation >
(
  SELECT AVG(c2.LatestRecordedPopulation)
  FROM Application.Cities AS c2
  WHERE c2.StateProvinceID = c.StateProvinceID
)
AND c.StateProvinceID = 1;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Alabaster', 30352),
 ('Albertville', 21160),
 ('Alexander City', 14875),
 ('Andalusia', 9015),
 ('Anniston', 23106),
 ('Arab', 8050),
 ('Athens', 21897),
 ('Atmore', 10194),
 ('Attalla', 6048),
 ('Auburn', 53380),
 ('Bay Minette', 8044),
 ('Bessemer', 27456),
 ('Birmingham', 212237),
 ('Boaz', 9551),
 ('Brewton', 5408),
 ('Calera', 11620),
 ('Center Point', 16921),
 ('Chelsea', 10183),
 ('Chickasaw', 6106),
 ('Clanton', 8619),
 ('Clay', 9708),
 ('Cullman', 14775),
 ('Daphne', 21570),
 ('Decatur', 55683),
 ('Demopolis', 7483),
 ('Dothan', 65496),
 ('Enterprise', 26562),
 ('Eufaula', 13137),
 ('Fairfield', 11117),
 ('Fairhope', 15326),
 ('Florence', 39319),
 ('Foley', 14618),
 ('Forestdale', 10162),
 ('Fort Payne', 14012),
 ('Fultondale', 8380),
 ('Gadsden', 36856),
 ('Gardendale', 13893),
 ('Greenville', 8135),
 ('Gulf Shores', 9741),
 ('Guntersville', 8197),
 ('Hamilton', 6885),
 ('Hartselle', 14255),
 ('Helena', 16793),
 ('Homewood', 25167),
 ('Hoover', 81619),
 ('Hueytown', 16105),
 ('Huntsville', 180105),
 ('Irondale', 12349),
 ('Jacksonville', 12548),
 ('Jasper', 14352),
 ('Lanett', 6468),
 ('Leeds', 11773),
 ('Lincoln', 6266),
 ('Meridianville', 6021),
 ('Midfield', 5365),
 ('Millbrook', 14640),
 ('Mobile', 195111),
 ('Monroeville', 6519),
 ('Montevallo', 6323),
 ('Montgomery', 205764),
 ('Moody', 11726),
 ('Moores Mill', 5682),
 ('Mountain Brook', 20413),
 ('Muscle Shoals', 13146),
 ('Northport', 23330),
 ('Oneonta', 6567),
 ('Opelika', 26477),
 ('Opp', 6659),
 ('Orange Beach', 5441),
 ('Oxford', 21348),
 ('Ozark', 14907),
 ('Pelham', 21352),
 ('Pell City', 12695),
 ('Phenix City', 32822),
 ('Pike Road', 5406),
 ('Pinson', 7163),
 ('Prattville', 33960),
 ('Prichard', 22659),
 ('Rainbow City', 9602),
 ('Roanoke', 6074),
 ('Russellville', 9830),
 ('Saks', 10744),
 ('Saraland', 13405),
 ('Satsuma', 6168),
 ('Scottsboro', 14770),
 ('Selma', 20756),
 ('Sheffield', 9039),
 ('Southside', 8412),
 ('Spanish Fort', 6798),
 ('Sylacauga', 12749),
 ('Talladega', 15676),
 ('Tarrant', 6397),
 ('Theodore', 6130),
 ('Tillmans Corner', 17398),
 ('Troy', 18033),
 ('Trussville', 19933),
 ('Tuscaloosa', 90468),
 ('Tuscumbia', 8423),
 ('Tuskegee', 9865),
 ('Valley', 9524),
 ('Vestavia Hills', 34033),
 ('Wetumpka', 6528)]

# **CHAPTER 5 QUERIES**

%%sql
### **Proposition 1 â€” Customers Using 'Delivery Van' Whose Names Begin with 'A'**

**Outer Query:**  
Selects `CustomerName` and `BillToCustomerID` from `Sales.Customers`.  
It limits results to customers whose names start with 'A' and whose delivery method matches the ID returned by the inner query.

**Inner Query:**  
Retrieves the `DeliveryMethodID` from `Application.DeliveryMethods` where `DeliveryMethodName = 'Delivery Van'`.  
Since that name is unique, the subquery produces one or few IDs.

**Overall Result:**  
Lists all customers whose names begin with 'A' and who use the **Delivery Van** method.  
The inner query is independent of the outer one â€” a **multi-row IN subquery**.

In [ ]:
%%sql
SELECT CustomerName, BillToCustomerID
FROM Sales.Customers
WHERE DeliveryMethodID IN (
  SELECT DeliveryMethodID
  FROM Application.DeliveryMethods
  WHERE DeliveryMethodName = N'Delivery Van'
) AND CustomerName LIKE 'A%';

### **Proposition 2 â€” Derived Table for People with 'NO LOGON'**

**Outer Query:**  
Reads from a derived table alias `NoLogonPeople`, projecting all its columns.

**Inner Query:**  
Selects `PersonID` and `FullName` from `Application.People`  
where `LogonName = 'NO LOGON'` and `PersonID < 100`.  
The outer query treats this as a temporary virtual table.

**Overall Result:**  
Retrieves people meeting that filter, demonstrating a **derived table** (nested SELECT AS alias).

In [ ]:
%%sql
SELECT *
FROM (
  SELECT PersonID, FullName
  FROM Application.People
  WHERE LogonName = 'NO LOGON' AND PersonID < 100
) AS NoLogonPeople;

### **Proposition 2 (CTE Version) â€” People with 'NO LOGON' Whose Names Start with 'Ar'**

**CTE Definition:**  
The `WITH` clause defines a temporary result set called `NoLogonPeople`,  
containing people whose `LogonName = 'NO LOGON'` and whose full names start with 'Ar'.

**Main Query:**  
Selects directly from the CTE.

**Overall Result:**  
Produces the same output as the derived table, but uses a **Common Table Expression** for readability and reuse.

In [ ]:
%%sql
WITH NoLogonPeople AS (
  SELECT PersonID, FullName
  FROM Application.People
  WHERE LogonName='NO LOGON' AND FullName like 'Ar%'
)
SELECT * FROM NoLogonPeople;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[(3128, 'Arijit Bhuiyan'),
 (1232, 'Arjuna Haldar'),
 (3224, 'Arka Chatterjee'),
 (2311, 'Arnab Malakar'),
 (2252, 'Arundhati Bhowmick'),
 (2362, 'Arunima Ganguly')]

### **Proposition 3 â€” Orders per Delivery Year (Using a Derived Table)**

**Inner Query:**  
Extracts the delivery year from each orderâ€™s `ExpectedDeliveryDate` using `YEAR()`  
and labels it as `DeliveryYear`.

**Outer Query:**  
Groups by that alias and counts how many orders fall in each year.

**Overall Result:**  
Displays total expected orders per year.  
Because the derived table defines the computed column and the outer query groups on it,  
this demonstrates **column aliasing within a derived table**.

In [ ]:
%%sql
SELECT DeliveryYear, COUNT(*) AS OrdersPerYear
FROM
(SELECT YEAR(ExpectedDeliveryDate) AS DeliveryYear FROM Sales.Orders)
AS S
GROUP BY DeliveryYear

%%sql
### **Proposition 4 â€” Multiple CTEs for People With and Without Logon**

**CTE #1 â€” NoLogonPeople:**  
Retrieves rows from `Application.People` where `LogonName = 'NO LOGON'`.

**CTE #2 â€” LogonPeople:**  
Retrieves rows where `LogonName` is not NULL (valid logon).

**Main Query:**  
Uses `UNION ALL` to combine counts from both CTEs, producing a summary table  
that compares how many people fall into each category.

**Overall Result:**  
Demonstrates use of **multiple CTEs** within one statement.

In [ ]:
%%sql
WITH NoLogonPeople AS (
  SELECT PersonID, FullName
  FROM Application.People
  WHERE LogonName='NO LOGON'
),
LOGONPeople AS (
    SELECT PersonID, FullName
    FROM Application.People
    WHERE LogonName IS NOT NULL
)
SELECT
    'No Logon' AS Category, COUNT(*) AS NumPeople
FROM NOLogonPeople
UNION ALL
SELECT
    'Has Logon' AS Category, COUNT(*) AS NumPeople
FROM LOGONPeople ;

### **Proposition 5 â€” Derived Table per Salesperson (Parameterized)**

**Outer Query:**  
Groups results by `DeliveryYear` and counts orders per year.

**Inner Query:**  
Filters `Sales.Orders` by a salesperson ID parameter,  
computes each orderâ€™s delivery year with `YEAR(ExpectedDeliveryDate)`,  
and exposes it as `DeliveryYear`.

**Overall Result:**  
Shows how many orders each salesperson handled per year.  
Demonstrates combining Python-level parameters with a **derived table** â€”  
another advanced **Chapter 5** subquery application.


When I tried to run the same code inside my Jupyter notebook using the %%sql magic,
it produced an error because %%sql doesnâ€™t allow DECLARE statements â€” it only executes plain SQL queries,
not procedural T-SQL commands.
To fix this, I had to adapt the query to hardcode the varaible instead.
This approach successfully passed the value from Python into the SQL cell.

However, in my .sql file i used the correct use of declare which i also mentioned here:
DECLARE @SalesPersonID INT = 2;
SELECT D.DeliveryYear, COUNT(*) AS OrdersPerYear
FROM (
  SELECT YEAR(ExpectedDeliveryDate) AS DeliveryYear
  FROM Sales.Orders
  WHERE SalespersonPersonID = @SalesPersonID
) AS D
GROUP BY D.DeliveryYear;

In [ ]:
%%sql
SELECT D.DeliveryYear, COUNT(*) AS OrdersPerYear
FROM (
    SELECT YEAR(ExpectedDeliveryDate) AS DeliveryYear
    FROM Sales.Orders
    WHERE SalespersonPersonID = 2   -- hardcoded instead of variable
) AS D
GROUP BY D.DeliveryYear
ORDER BY D.DeliveryYear;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[(2013, 2003), (2014, 2203), (2015, 2303), (2016, 965)]

## ðŸ’¼ NACE Competencies Reflection â€” Group 5 Collaboration  
**Group Leader:** Renzoâ€ƒâ€ƒ**Co-Leader:** Devak Mehta  

During the completion of this SQL project, our group demonstrated multiple **NACE Career Readiness Competencies**, including **Communication, Teamwork, Critical Thinking, Technology, Leadership, Equity & Inclusion, Career & Self-Development, and Professionalism**.

---

### ðŸ—£ï¸ Communication  
We maintained consistent contact through our **WhatsApp group chat**, where we discussed query logic, shared screenshots, and clarified assignment requirements.  
Before each chapterâ€™s work session, we set a **specific date and time** to meet and review progress.  
Whenever one member faced an SQL or Jupyter issue, others immediately responded with guidance and tested solutions collaboratively.

---

### ðŸ¤ Teamwork & Collaboration  
Tasks were divided evenly, and everyone contributed to the groupâ€™s success.  
When someone was busy or ran into an error, another teammate stepped in to help.  
We also met on **TeamSpeak voice sessions** for quick discussions on query results, ensuring everyone stayed synchronized and informed.

---

### ðŸ’­ Critical Thinking & Problem Solving  
Each proposition required logical reasoning and analytical review of query results.  
We debugged syntax issues together, re-evaluated subquery structures, and optimized conditions when outputs didnâ€™t match expectations.  
This strengthened our shared problem-solving approach and collective SQL fluency.

---

### ðŸ’» Technology  
We utilized **DBeaver** for SQL testing, **Jupyter Notebook** for documentation and visualization, and **shared drives** for version control.  
When the `DECLARE` command failed inside Jupyter, we adapted by passing parameters through Python variables, showing technical agility and persistence.

---

### ðŸ§­ Leadership  
**Renzo**, as the group leader, coordinated deadlines, structured discussions, and ensured everyone was on track.  
**Devak**, as co-leader, helped manage the technical side â€” verifying outputs, cleaning query formatting, and maintaining the notebook.  
Leadership was collaborative, emphasizing direction, accountability, and encouragement.

---

### âš–ï¸ Equity & Inclusion  
Each memberâ€™s ideas were heard and respected.  
We created an inclusive environment by explaining SQL logic step-by-step and ensuring all voices contributed equally to both design and review phases.

---

### ðŸŒ± Career & Self-Development  
The project allowed us to apply classroom concepts in a practical setting.  
We improved both our technical and interpersonal skills â€” from writing professional SQL code to communicating effectively in a remote, team-based workflow.

---

### ðŸ•’ Professionalism & Work Ethic  
We consistently met our deadlines and maintained clear documentation of progress within our WhatsApp chat.  
Our teamwork reflected accountability, mutual respect, and time management, as we checked in regularly and ensured all deliverables were completed **before the deadline**.

---

### âœ… Summary  
Through effective communication, teamwork, and leadership, our group completed the assignment smoothly and on schedule.  
By documenting discussions, using technology efficiently, and supporting one another, we demonstrated all **eight NACE competencies** â€” mirroring the professionalism expected in real-world computing and collaborative environments.