In [16]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'ODBC Driver 18 for SQL Server']

In [17]:
from urllib.parse import quote_plus
import sqlalchemy as sa
import pandas as pd

pd.set_option('display.max_colwidth', None)

password = quote_plus("PH@123456789")
CONN_URL = (
    f"mssql+pyodbc://sa:{password}@localhost:13001/SQLNoir"
    "?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"
)

engine = sa.create_engine(CONN_URL)

with engine.connect() as conn:
    print("Connected to:", conn.exec_driver_sql("SELECT DB_NAME()").scalar())

def run(query: str) -> pd.DataFrame:
    """Execute a SQL query and return the results as a DataFrame."""
    with engine.connect() as conn:
        return pd.read_sql_query(query, conn)

Connected to: SQLNoir

Mystery 1 - The Harbor Murder
A fisherman was found dead in the harbor, a witness saw someone running away from the scene of the crime.

We first need to pull the data from the crime scene database. We first need to match the title to get the correct information.
Doing so, we now know that we are looking for a man and that he was wearing a dark jacket.

In [18]:
df = run("""
SELECT id, title, [type], [date], [location], [description]
FROM SQLNoir.crime_scene
WHERE title = N'The Harbor Murder';
""")

df.head()

,id,title,type,date,location,description
0,1,The Harbor Murder,murder,2025-05-14,Harbor Docks,A local fisherman was found dead on the docks early in the morning. Witnesses reported a ticking sound and a man in a dark jacket near the pier gate.

So now we just need to match the id of the crime scene to every evidence tied to this case. 
Looking at the database, what we find to be most valueable is the fact that the camera picked up an average build figure in 
the CCTV camera and a witness saw a short man, both were wearing a dark jacket so we can use this to find 2 possible suspects.

In [34]:
df = run("""
SELECT id, category, [description]
FROM SQLNoir.evidence
WHERE crime_scene_id = 1
ORDER BY category, id;
""")

df.head()

,id,category,description
0,4,digital,Bait-shop CCTV shows an average-build figure in a dark jacket walking east at 11:46 p.m.
1,3,forensic,Rubber-soled footprints led from the pier toward the gate.
2,2,timeline,"A cabin clock on the boat stopped at 11:48 p.m., likely time of death."
3,1,witness,A witness saw a short man in a dark jacket near the docks around 11:45 p.m.

Let's check our list of suspects that we have found, and see if any match either an average or
short man that was wearing a jacket.

And it looks like we just narrowed it down to one suspect, Lucas Scott, let's see if he said anything in his statement
to the police.

In [39]:
df = run("""
SELECT s.id, s.[name], s.attire, s.build, s.scar
FROM SQLNoir.suspects AS s
WHERE s.crime_scene_id = 1
  AND s.attire = N'jacket'
  AND s.build = N'average';
""")

df.head()

   id         name  attire    build        scar
0   1  Lucas Scott  jacket  average  left cheek

His statement says that he was at the pier, but did not see anyone. 

But using the camera footage and the time of death, we can see that he was there close to the
time of death of the fisherman. We can deduct that he was lying actually met up with our victim
and killed him. 

Lucas Scott is our prime suspect in the Harbor Murder

In [42]:
df = run("""
SELECT s.id, s.[name], i.transcript
FROM SQLNoir.suspects AS s
LEFT JOIN SQLNoir.interviews AS i
  ON i.suspect_id = s.id
WHERE s.crime_scene_id = 1
  AND s.attire = N'jacket'
  AND s.build = N'average';
""")

df.head()

,id,name,transcript
0,1,Lucas Scott,I was cleaning my gear after the tide went out. I did not see anyone else on the pier.

Mystery 2 - The Poisoned Cup

We start our investigation by learning details about the crime scene by searching for the row that matches the case title. 
Someone died after taken a few sips of their hot tea, and that a faint smell of almond came from the cup.
Interesting, let's see what our evidence says.

In [43]:
df = run("""
SELECT id, title, [type], [date], [location], [description]
FROM SQLNoir.crime_scene
WHERE title = N'The Poisoned Cup';
""")

df.head()

,id,title,type,date,location,description
0,2,The Poisoned Cup,murder,2025-06-02,Riverside Café,A café patron collapsed after a few sips of hot tea. Staff reported a faint almond smell from the cup.

Now we fetch all the evidence tied to this case.
So we can confirm that our suspect died from poisoning, as cyanide was found in its cup, along with the smell that was noted by
the staff member.
Camera footage showed someone approaching the victim's cup when they turned away, that's when they put the poison in the cup
A witness also noted that an average build person wearing a cardigan was near the tea before the victim collapsed. Possibly
the same person in the camera footage.
So now we know that we are looking for average build person wearing a cardigan, useful for using it in our filters of suspects.

In [44]:
df = run("""
SELECT id, category, [description]
FROM SQLNoir.evidence
WHERE crime_scene_id = 2
ORDER BY category, id;

""")

df.head()

,id,category,description
0,6,digital,Overhead camera shows a short-build person reaching over the victim's cup while they stepped away.
1,5,forensic,Residue on the teacup tested positive for cyanide; a faint almond odor was noted.
2,8,timeline,Time between pour and collapse was under five minutes; the tampering window was brief.
3,7,witness,A patron in a cardigan—average build—hovered by the tea station before the collapse.

Using all the useful information given to us, we can now see if any of our suspects match the description we found.

We now have 3 possible suspects from our list. All average build, and not much to go on so let's see what their statements had to say
to see if we can narrow it down to a single suspect.

In [52]:
df = run("""
SELECT s.id, s.[name], s.attire, s.build, s.scar
FROM SQLNoir.suspects AS s
WHERE s.crime_scene_id = 2
  AND s.attire = N'cardigan'
ORDER BY s.id;
""")

df.head()

   id           name    attire    build       scar
0  10  Claire Monroe  cardigan  average       None
1  20  Priya Nataraj  cardigan  average       None
2  22     Alana Reed  cardigan  average  left hand

Now let's read the statements from each of our suspects. 

Claire says that she was helping the guest find exists during the outage so she has multiple
alibis to confirm that, Priya was checking the badges at the north exit so we can also confirm her alibi.
Alana Reed is the most suspicious one, she said she cut her hand and has been like this all week, but is that really the truth?

In [53]:
df = run("""
SELECT s.id, s.[name], i.transcript
FROM SQLNoir.suspects AS s
LEFT JOIN SQLNoir.interviews AS i
  ON i.suspect_id = s.id
WHERE s.crime_scene_id = 2
  AND s.attire = N'cardigan'
ORDER BY s.id;
""")

df.head()

   id           name                                                transcript
0  10  Claire Monroe         I helped guests find the exits during the outage.
1  20  Priya Nataraj      I checked badges at the north exit; nothing unusual.
2  22     Alana Reed  I cut my hand on a paper trimmer—been bandaged all week.

Connecting everything we got so far, we know that the victim died from cyanide poisoing from drinking their tea. But how did they do this?

Well Alana is the only one who could have done it. She was wearing a cardigan, which matched what the witness saw. She is also the only one
without a single alibi, ruling out our other 2 suspects. She must have used her bandage as a way to sneak in the poison and kill our victim.

Alana Reed is our main culprit behind the killing of the victim by poison.

In [56]:
df = run("""
SELECT s.id, s.[name], s.attire, s.build, s.scar, i.transcript
FROM SQLNoir.suspects AS s
LEFT JOIN SQLNoir.interviews AS i
  ON i.suspect_id = s.id
WHERE s.crime_scene_id = 2
  AND s.attire = N'cardigan'
  AND (
       i.transcript LIKE N'%bandage%'
  );
""")

df.head()

,id,name,attire,build,scar,transcript
0,22,Alana Reed,cardigan,average,left hand,I cut my hand on a paper trimmer—been bandaged all week.

Mystery 3 - Midnight Baron

We begin by isolating the record for “The Midnight Baron.”
Now we know that this crime was a theft, and a jeweled brooch got stolen.

In [59]:
df = run("""
SELECT id, title, [type], [date], [location], [description]
FROM SQLNoir.crime_scene
WHERE title = N'The Midnight Baron';
""")

df.head()

,id,title,type,date,location,description
0,3,The Midnight Baron,theft,2025-04-18,Old Town Museum,A jeweled brooch vanished during a blackout at a midnight gala. A caped figure was seen near the display.

Next, we collect all evidence tied to this crime scene.

Now we can look at our findings:
CCTV shows a silhouette in a long coat near the display
Power goes out for 90 seconds, this is our time window when the display could be breached.
Someone brushed the case while turning fast.
A witness spotted a figure with a cheek scar heading for the west stair.

All together, the scene narrows to a person in a long coat, with a cheek scar who acted within the short blackout.

In [60]:
df = run("""
SELECT id, category, [description]
FROM SQLNoir.evidence
WHERE crime_scene_id = 3
ORDER BY category, id;
""")

df.head()

,id,category,description
0,9,digital,Security video shows a big-build silhouette in a long coat at 12:03 a.m. near the brooch display.
1,10,forensic,Glass fibers from the display case were caught on a heavy hemline.
2,11,timeline,The power was out for about 90 seconds; theft window matched 12:03–12:04 a.m.
3,12,witness,An usher saw a short-build figure with a cheek scar hurry down the west stair.

Now we use those clues of the coat and cheek scar our likely suspects.
Luckily using the evidence we got so far, we have 1 suspect, let's check his statement and see what they have to 
say for themselves.

In [ ]:
df = run("""
SELECT s.id, s.[name], s.attire, s.build, s.scar
FROM SQLNoir.suspects AS s
WHERE s.crime_scene_id = 3
  AND s.attire = N'trench coat'
  AND s.scar LIKE N'%cheek%';;
""")

df.head()

   id         name       attire    build         scar
0   9  Adrian Vale  trench coat  average  right cheek

We’re not searching for a confession but any type of inconsistencies.

Adrian's statement is short and defensive: “I wasn’t near the brooch, I just stepped out for air when the lights went out.”
Luckily for us, the police did not disclouse what was stolen, and yet Adrian knows it was a brooch. Suspicious.
We also know that he owned a trench coat and had a scar on his right cheek.

In [89]:
df = run("""
SELECT s.id, s.[name], s.attire, s.scar, i.transcript
FROM SQLNoir.suspects AS s
LEFT JOIN SQLNoir.interviews AS i
  ON i.suspect_id = s.id
WHERE s.crime_scene_id = 3
  AND s.attire = N'trench coat'
  AND s.scar LIKE N'%cheek%';
""")

df.head()

,id,name,attire,scar,transcript
0,9,Adrian Vale,trench coat,right cheek,I was near the balcony when the lights went out; almost tripped on my coat.

Used all the evidence and statement we got can decude that:
Adrian Vale used the brief blackout to lift the brooch and slip away down the west stair.
The camera saw his coat, the usher saw his scar, and his own words worked against him.
The Midnight Baron has been unmasked as Adrian Vale

In [66]:
df = run("""
SELECT s.id, s.[name]
FROM SQLNoir.suspects AS s
WHERE s.crime_scene_id = 3
  AND s.attire = N'trench coat'
  AND s.scar LIKE N'%cheek%';
""")

df.head()

   id         name
0   9  Adrian Vale

Mystery 4 - The Final Take

We begin by pulling up the entry for “The Final Take” 
It’s the film set murder where the prop gun wasn’t a prop at all
The crew members also claim that no one messed with the prop guns as they were supposedly locked.

In [72]:
df = run("""
SELECT id, title, [type], [date], [location], [description]
FROM SQLNoir.crime_scene
WHERE title = N'The Final Take';
""")
df.head()

,id,title,type,date,location,description
0,4,The Final Take,murder,2025-03-09,Backlot Stage 3,An actor collapsed during rehearsal; the prop revolver had a real round. Crew insists the armory was locked.

Next, we examine every piece of evidence tied to this case:
The security camera caught someone in a hoodie unlocking the armory with a copied key 
Gunshot residue (GSR) was found on the prop case handle, confirming someone physically handled it recently
A crew member reported the person handling the prop case had a bandaged wrist.

So far we gathered that the culprit was on set, dressed in a hoodie, and visibly concealing a wrist injury

In [70]:
df = run("""
SELECT id, category, [description]
FROM SQLNoir.evidence
WHERE crime_scene_id = 4
ORDER BY category, id;
""")
df.head()

,id,category,description
0,14,digital,Backstage camera shows an average-build person in a hoodie unlocking the armory at 13:41 with a copied key.
1,13,forensic,GSR was detected on the prop case handle; a smudged partial print was recovered.
2,15,timeline,"The revolver swap occurred between 13:39 and 13:42, right before the take."
3,16,witness,A grip reported a wrist bandage on a big-build person handling the case.

We can now look at the suspects assigned to this crime who were seen wearing hoodies.
Thankfully we can narrow down the entire 35 person crew down to just 3 possible suspects
Now we can just interregate them and see what their statement is.

In [69]:
df = run("""
SELECT s.id, s.[name], s.attire, s.build, s.scar
FROM SQLNoir.suspects AS s
WHERE s.crime_scene_id = 4
  AND s.attire = N'hoodie';
""")
df.head()

   id          name  attire    build        scar
0   7    Noah Price  hoodie  average        None
1  14    Kara Finch  hoodie  average  left wrist
2  17  Ronan Pierce  hoodie      big        None

Remember that we also got a key detail from a witness, the bandaged wrist. 
Among our hoodie suspects, we search for anyone with a recorded wrist scar in their file or who mentioned getting hurt in their statements.
We have now narrowed it down to one suspect, Kara Finch.

In [68]:
df = run("""
SELECT s.id, s.[name], s.attire, s.scar, i.transcript
FROM SQLNoir.suspects AS s
LEFT JOIN SQLNoir.interviews AS i
  ON i.suspect_id = s.id
WHERE s.crime_scene_id = 4
  AND s.attire = N'hoodie'
  AND (
        s.scar LIKE N'%wrist%'
     OR i.transcript LIKE N'%wrist%'
     OR i.transcript LIKE N'%bandage%'
  );
""")
df.head()

,id,name,attire,scar,transcript
0,14,Kara Finch,hoodie,left wrist,"I was wrapping cables near the armory; cut my wrist last week, still sore."

At this point, every piece of evidence leads to one name: Kara Finch. 
She’s the only person wearing a hoodie who was connected to the film set case who also has a 
wrist scar matching exactly what the witness saw. 
The attire fits, the injury explains the bandage, and the short three-minute gap is perfectly covered by her armory access.

Our investigation concludes with Kara Finch being behind the prop murder case.

In [67]:
df = run("""
SELECT s.id, s.[name]
FROM SQLNoir.suspects AS s
LEFT JOIN SQLNoir.interviews AS i
  ON i.suspect_id = s.id
WHERE s.crime_scene_id = 4
  AND s.attire = N'hoodie'
  AND (
        s.scar LIKE N'%wrist%'
     OR i.transcript LIKE N'%wrist%'
     OR i.transcript LIKE N'%bandage%'
  );
""")
df.head()

   id        name
0  14  Kara Finch

Mystery 5 - The Stolen Prototype

We start by pulling the case entry for “The Stolen Prototype.”
It’s a theft, it occurred at the expo, and it happened during the evening exhibition closing window.

In [73]:
df = run("""
SELECT id, title, [type], [date], [location], [description]
FROM SQLNoir.crime_scene
WHERE title = N'The Stolen Prototype';
""")
df.head()

,id,title,type,date,location,description
0,5,The Stolen Prototype,theft,2025-08-27,Tech Expo Hall B,A stealth drone prototype vanished from a demo booth. The feed cut out minutes before closing.

Next we line up every piece evidence tied to this theft.

Our key findings include:
A camera feed was looped for exactly two minutes
Glove fibers on the display table.
A person wearing a blazer was seen scanning the lock moments before the blackout.

In [74]:
df = run("""
SELECT id, category, [description]
FROM SQLNoir.evidence
WHERE crime_scene_id = 5
ORDER BY category, id;
""")
df.head()

,id,category,description
0,17,digital,The booth camera looped a 2-minute clip starting at 18:56; an average-build figure lingers at the edge before the loop.
1,18,forensic,Anti-static glove fibers were found on the empty pedestal.
2,20,timeline,The crate seal was broken between 18:55 and 18:58; doors opened at 19:00.
3,19,witness,An exhibitor saw a short-build person in a blazer scanning the lock with a phone.

Now we can ask ourselves, who among our possibles uspects was wearing a blazer during the expo.

Expo get hundreds of people attending them, so luckily our filters just brings it down to 2 suspects,
Melanie Brooks and Sean Wilde.

In [75]:
df = run("""
SELECT s.id, s.[name], s.attire, s.build, s.scar
FROM SQLNoir.suspects AS s
WHERE s.crime_scene_id = 5
  AND s.attire = N'blazer';
""")
df.head()

   id            name  attire    build  scar
0   5  Melanie Brooks  blazer  average  None
1  13      Sean Wilde  blazer  average  None

Now let's see what our suspects had to say for themselves:

Melanie Brooks: “I left my meeting notes on the table and stepped outside for a call.”
Sean Wilde: “I checked continuity marks on set—never touched the prop cart.”
Both answers sound plausible but one of them fits the timing a little too perfectly.
“Stepped outside for a call” overlaps the exact two minute blind spot when the cameras looped.

In [81]:
df = run("""
SELECT s.id, s.[name], s.attire, i.transcript
FROM SQLNoir.suspects AS s
LEFT JOIN SQLNoir.interviews AS i
  ON i.suspect_id = s.id
WHERE s.crime_scene_id = 5
  AND s.attire = N'blazer'
ORDER BY s.id;
""")
df.head()

,id,name,attire,transcript
0,5,Melanie Brooks,blazer,I left my meeting notes on the table and stepped outside for a call.
1,13,Sean Wilde,blazer,I checked continuity marks on set—never touched the prop cart.

It's not a coincidence that Melanie Brooks just so happened to take a phone call
when the theft happened. The crime did only takes place in under 3 minutes.

That was enough time to step outside and loop the cameras. Her description matches
what the camera and witness picked up, an average sized person wearing a blazer.

All the evidence points to Melanie Brooks being the thief.

In [87]:
df = run("""
SELECT s.id, s.[name], s.attire, i.transcript
FROM SQLNoir.suspects AS s
LEFT JOIN SQLNoir.interviews AS i
  ON i.suspect_id = s.id
WHERE s.crime_scene_id = 5
  AND s.attire = N'blazer'
  AND i.transcript LIKE N'%call%';
""")
df.head()

,id,name,attire,transcript
0,5,Melanie Brooks,blazer,I left my meeting notes on the table and stepped outside for a call.