# SQLNoir ‚Äî Mysteries Walkthrough (Queries + Inline Commentary)

This notebook contains **7 mysteries**, each with **5 steps** in the pattern  
**SCOPE ‚Üí NARROW ‚Üí EVIDENCE ‚Üí SHORT LIST ‚Üí CULPRIT**.

- Each step has a **Markdown cell with investigator notes**, followed by a **code cell** that runs the SQL.
- Edit the connection cell below if your password/port differ.
- Results will render as DataFrames directly in the notebook.

In [1]:
# üîå Connection (edit if needed)
from sqlalchemy import create_engine, URL, text
import pandas as pd

def make_engine():
    url = URL.create(
        "mssql+pyodbc",
        username="sa",
        password="Str0ng\!Passw0rd",   # <-- change if different
        host="localhost",             # use 'host.docker.internal' if running this INSIDE a container
        port=1433,
        database="SQLNoir",
        query={
            "driver": "ODBC Driver 18 for SQL Server",
            "Encrypt": "yes",
            "TrustServerCertificate": "yes",
        },
    )
    return create_engine(url, pool_pre_ping=True)

engine = make_engine()

def run(sql: str) -> pd.DataFrame:
    """Execute SQL and return a DataFrame."""
    with engine.connect() as conn:
        return pd.read_sql(sql, conn)

# quick smoke test (will print 1 if connection is good)
try:
    with engine.connect() as conn:
        print(conn.execute(text("SELECT 1")).scalar())
except Exception as e:
    print("Connection error:", e)

<>:9: SyntaxWarning: invalid escape sequence '\!'
<>:9: SyntaxWarning: invalid escape sequence '\!'
/var/folders/qz/x8zgt_xj3pv9w0zwf1r5898m0000gn/T/ipykernel_43114/2470525323.py:9: SyntaxWarning: invalid escape sequence '\!'
  password="Str0ng\!Passw0rd",   # <-- change if different

1

## üïµÔ∏è Mystery A ‚Äî ‚ÄúBlue Note Heist‚Äù
**Clues:** trench coat + left-cheek scar; corroborate via interview.

### 1Ô∏è‚É£ Scope ‚Äî Crime Scene Reference
**Description:** Reads the crime-scene record to justify the filters.  
**How it works:** Anchors the investigation to the primary evidence; confirms trench coat + left-cheek.  
**Why it‚Äôs useful:** Ensures later filters are grounded in factual clues.

In [40]:
a1_scope = run(r"""SELECT id, [date], [type], location, description
FROM SQLNoir.crime_scene
WHERE id = 76;""")
a1_scope

,id,date,type,location,description
0,76,19851120,theft,Blue Note Lounge,A briefcase containing sensitive documents van...

### 2Ô∏è‚É£ Narrow ‚Äî Attire Filter
**Description:** Candidate pool of everyone wearing a trench coat.  
**How it works:** Equality filter on `attire`.  
**Why it‚Äôs useful:** High-recall starting set that's easy to narrate.

In [41]:
a2_attire = run(r"""SELECT id, name, attire, scar
FROM SQLNoir.suspects
WHERE attire = 'trench coat';""")
a2_attire

    id               name       attire         scar
0    3   Frankie Lombardi  trench coat   left cheek
1  183     Vincent Malone  trench coat   left cheek
2  237  Christopher Black  trench coat  right cheek

### 3Ô∏è‚É£ Evidence ‚Äî Add Scar Detail
**Description:** Keep only trench-coat suspects with a left-cheek scar.  
**How it works:** Conjunctive filter (`attire` AND `scar`).  
**Why it‚Äôs useful:** Precision filtering ‚Üí shortlist.

In [42]:
a3_conjunct = run(r"""SELECT id, name, attire, scar
FROM SQLNoir.suspects
WHERE attire = 'trench coat'
  AND scar = 'left cheek';""")
a3_conjunct

    id              name       attire        scar
0    3  Frankie Lombardi  trench coat  left cheek
1  183    Vincent Malone  trench coat  left cheek

### 4Ô∏è‚É£ Short List ‚Äî Set Logic Cross-check
**Description:** Recreate result using `INTERSECT`.  
**How it works:** Intersection of two simple selects (trench ‚à© left-cheek).  
**Why it‚Äôs useful:** Teaches set theory equivalence to AND.

In [43]:
a4_intersect = run(r"""SELECT id, name, attire, scar FROM SQLNoir.suspects WHERE attire = 'trench coat'
INTERSECT
SELECT id, name, attire, scar FROM SQLNoir.suspects WHERE scar = 'left cheek';""")
a4_intersect

    id              name       attire        scar
0    3  Frankie Lombardi  trench coat  left cheek
1  183    Vincent Malone  trench coat  left cheek

### 5Ô∏è‚É£ Culprit ‚Äî Interviews Join & Rank
**Description:** Attach interviews; rank confessional phrasing higher.  
**How it works:** **LEFT JOIN** suspects‚Üíinterviews on `suspect_id`; order transcripts containing ‚Äústeal‚Äù/‚Äúdid it.‚Äù  
**Why it‚Äôs useful:** Combines quantitative filters with qualitative text; `LEFT JOIN` keeps silent suspects.

In [44]:
a5_culprit = run(r"""SELECT TOP (1) s.id, s.name, s.attire, s.scar, i.transcript
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'trench coat' AND s.scar = 'left cheek'
ORDER BY
  CASE WHEN i.transcript LIKE '%steal%' OR i.transcript LIKE '%did it%' THEN 0 ELSE 1 END,
  s.name;""")
a5_culprit

,id,name,attire,scar,transcript
0,183,Vincent Malone,trench coat,left cheek,"I wasn't going to steal it, but I did."

## üïµÔ∏è Mystery 2 ‚Äî ‚ÄúLuxury Hotel Grab‚Äù
**Clues:** suit + right-cheek scar; demonstrate EXCEPT (A ‚àí B).

### 1Ô∏è‚É£ Scope ‚Äî Crime Scene Reference
**Description:** Validate suit + right-cheek in case text.  
**How it works:** Read the specific crime-scene row.  
**Why it‚Äôs useful:** Grounds later filters.

In [45]:
m2_1_scope = run(r"""SELECT id, [date], [type], location, description
FROM SQLNoir.crime_scene
WHERE id = 14;""")
m2_1_scope

,id,date,type,location,description
0,14,20060907,theft,Luxury Hotel,A briefcase was stolen from a guest. The thief...

### 2Ô∏è‚É£ Base Set A ‚Äî All Suits
**Description:** Collect the suit cohort.  
**How it works:** Equality on `attire`.  
**Why it‚Äôs useful:** Defines minuend for subtraction.

In [46]:
m2_2_suits = run(r"""WITH Suits AS (
  SELECT id, name, attire, scar
  FROM SQLNoir.suspects
  WHERE attire = 'suit'
)
SELECT * FROM Suits;""")
m2_2_suits

     id             name attire         scar
0     2     Tony DeMarco   suit         none
1     9     Joshua Smith   suit         none
2    16     Laura Wright   suit         none
3    21    Victor Carter   suit         none
4    27     Penny Turner   suit         none
5    37        Ella King   suit         none
6    49   Benjamin White   suit         none
7    57   Maddison Lewis   suit         none
8    63  Benjamin Miller   suit  right cheek
9    71       Lily White   suit         none
10   81  Matthew Jackson   suit         none
11   92      David Young   suit         none
12  101    Sophie Turner   suit         none
13  115     David Cooper   suit         none
14  125  Isabella Martin   suit         none
15  133     Olivia White   suit         none
16  153    Sophia Martin   suit         none
17  164  Benjamin Walker   suit         none
18  172       Liam White   suit         none
19  186      Mason Davis   suit         none
20  198     Olivia White   suit         none
21  206     Sophie Green   suit         none
22  215     Victor Brown   suit         none
23  227    Olivia Walker   suit         none
24  231  Isabella Harris   suit         none
25  242       Ethan King   suit         none
26  249      Lucas Green   suit         none
27  251      David Brown   suit         none
28  261        Zoe Green   suit         none
29  272     Victor Brown   suit         none
30  278    Victor Taylor   suit         none
31  291      David Brown   suit         none
32  300     Olivia Green   suit         none
33  306   Isabella Green   suit         none
34  316       David King   suit         none
35  325        Zoe Brown   suit         none
36  336   Benjamin Brown   suit         none
37  343     Lucas Harris   suit         none
38  347   Benjamin White   suit         none
39  352   Isabella Green   suit         none
40  357     Olivia Green   suit         none
41  366      Mason White   suit         none
42  375      David Brown   suit         none
43  390      Mason Green   suit         none
44  395   Isabella Brown   suit         none

### 3Ô∏è‚É£ Build Set B ‚Äî Contradictions
**Description:** Suits whose scar is **not** right cheek.  
**How it works:** `scar <> 'right cheek'`.  
**Why it‚Äôs useful:** Explicit to-be-removed subset.

In [47]:
m2_3_notright = run(r"""WITH NotRightCheek AS (
  SELECT id, name, attire, scar
  FROM SQLNoir.suspects
  WHERE attire = 'suit' AND scar <> 'right cheek'
)
SELECT * FROM NotRightCheek;""")
m2_3_notright

     id             name attire  scar
0     2     Tony DeMarco   suit  none
1     9     Joshua Smith   suit  none
2    16     Laura Wright   suit  none
3    21    Victor Carter   suit  none
4    27     Penny Turner   suit  none
5    37        Ella King   suit  none
6    49   Benjamin White   suit  none
7    57   Maddison Lewis   suit  none
8    71       Lily White   suit  none
9    81  Matthew Jackson   suit  none
10   92      David Young   suit  none
11  101    Sophie Turner   suit  none
12  115     David Cooper   suit  none
13  125  Isabella Martin   suit  none
14  133     Olivia White   suit  none
15  153    Sophia Martin   suit  none
16  164  Benjamin Walker   suit  none
17  172       Liam White   suit  none
18  186      Mason Davis   suit  none
19  198     Olivia White   suit  none
20  206     Sophie Green   suit  none
21  215     Victor Brown   suit  none
22  227    Olivia Walker   suit  none
23  231  Isabella Harris   suit  none
24  242       Ethan King   suit  none
25  249      Lucas Green   suit  none
26  251      David Brown   suit  none
27  261        Zoe Green   suit  none
28  272     Victor Brown   suit  none
29  278    Victor Taylor   suit  none
30  291      David Brown   suit  none
31  300     Olivia Green   suit  none
32  306   Isabella Green   suit  none
33  316       David King   suit  none
34  325        Zoe Brown   suit  none
35  336   Benjamin Brown   suit  none
36  343     Lucas Harris   suit  none
37  347   Benjamin White   suit  none
38  352   Isabella Green   suit  none
39  357     Olivia Green   suit  none
40  366      Mason White   suit  none
41  375      David Brown   suit  none
42  390      Mason Green   suit  none
43  395   Isabella Brown   suit  none

### 4Ô∏è‚É£ Short List ‚Äî Set Subtraction (A ‚àí B)
**Description:** Keep suits minus contradictions.  
**How it works:** `EXCEPT` models the must-be-right-cheek rule.  
**Why it‚Äôs useful:** Clean, teachable set subtraction.

In [48]:
m2_4_shortlist = run(r"""WITH Suits AS (
  SELECT id, name, attire, scar FROM SQLNoir.suspects WHERE attire = 'suit'
),
NotRightCheek AS (
  SELECT id, name, attire, scar FROM SQLNoir.suspects WHERE attire = 'suit' AND scar <> 'right cheek'
)
SELECT * FROM Suits
EXCEPT
SELECT * FROM NotRightCheek;""")
m2_4_shortlist

   id             name attire         scar
0  63  Benjamin Miller   suit  right cheek

### 5Ô∏è‚É£ Culprit ‚Äî Enrich with Interviews
**Description:** Join shortlist to suspects for names, then add transcripts.  
**How it works:** `JOIN` shortlist‚Üísuspects (metadata), then `LEFT JOIN` interviews on `suspect_id`.  
**Why it‚Äôs useful:** Connects who the rows represent and what they said.

In [49]:
m2_5_joined = run(r"""WITH Suits AS (
  SELECT id, name, attire, scar FROM SQLNoir.suspects WHERE attire = 'suit'
),
NotRightCheek AS (
  SELECT id, name, attire, scar FROM SQLNoir.suspects WHERE attire = 'suit' AND scar <> 'right cheek'
),
FinalList AS (
  SELECT * FROM Suits
  EXCEPT
  SELECT * FROM NotRightCheek
)
SELECT s.name, s.attire, s.scar, i.transcript
FROM   FinalList f
JOIN   SQLNoir.suspects  s ON s.id = f.id
LEFT   JOIN SQLNoir.interviews i ON i.suspect_id = f.id;""")
m2_5_joined

              name attire         scar transcript
0  Benjamin Miller   suit  right cheek       None

## üïµÔ∏è Mystery 3 ‚Äî ‚ÄúOld Town Square Run‚Äù
**Clues:** right-hand scar + coat/jacket attire.

### 1Ô∏è‚É£ Scope ‚Äî Scar Anchor
**Description:** Start with right-hand scars.  
**How it works:** Equality on `scar`.  
**Why it‚Äôs useful:** Unique physical marker.

In [50]:
m3_1_scope = run(r"""SELECT id, name, attire, scar
FROM SQLNoir.suspects
WHERE scar = 'right hand';""")
m3_1_scope

    id             name   attire        scar
0   42     Mila Roberts  sweater  right hand
1   77      David Davis  sweater  right hand
2  110    Oliver Carter  sweater  right hand
3  263  Benjamin Walker   jacket  right hand

### 2Ô∏è‚É£ Narrow ‚Äî Coat/Jacket Family
**Description:** Keep trench/jacket/blazer/tuxedo only.  
**How it works:** `IN` list on `attire`.  
**Why it‚Äôs useful:** Encodes ‚Äúsome kind of coat.‚Äù

In [51]:
m3_2_narrow = run(r"""SELECT id, name, attire, scar
FROM SQLNoir.suspects
WHERE scar = 'right hand'
  AND attire IN ('trench coat','jacket','blazer','tuxedo');""")
m3_2_narrow

    id             name  attire        scar
0  263  Benjamin Walker  jacket  right hand

### 3Ô∏è‚É£ Evidence ‚Äî Interviews Join
**Description:** Attach transcripts to read for context (alibi, place).  
**How it works:** **LEFT JOIN** suspects‚Üíinterviews on `suspect_id`.  
**Why it‚Äôs useful:** Merges behavioral clues with physical filters.

In [52]:
m3_3_interviews = run(r"""SELECT s.id, s.name, s.attire, s.scar, i.transcript
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.scar = 'right hand'
  AND s.attire IN ('trench coat','jacket','blazer','tuxedo');""")
m3_3_interviews

    id             name  attire        scar transcript
0  263  Benjamin Walker  jacket  right hand       None

### 4Ô∏è‚É£ Short List ‚Äî Readable Roll-call
**Description:** IDs/names of finalists for narration.  
**How it works:** Project identifiers only.  
**Why it‚Äôs useful:** Clean on-screen list.

In [53]:
m3_4_shortlist = run(r"""SELECT id, name
FROM SQLNoir.suspects
WHERE scar = 'right hand'
  AND attire IN ('trench coat','jacket','blazer','tuxedo');""")
m3_4_shortlist

    id             name
0  263  Benjamin Walker

### 5Ô∏è‚É£ Culprit ‚Äî Deterministic Pick
**Description:** Stable selection with alphabetic tie-breaker.  
**How it works:** `ORDER BY name` then `TOP (1)`.  
**Why it‚Äôs useful:** Reproducible grading outcome.

In [54]:
m3_5_culprit = run(r"""SELECT TOP (1) id, name, attire, scar
FROM SQLNoir.suspects
WHERE scar = 'right hand'
  AND attire IN ('trench coat','jacket','blazer','tuxedo')
ORDER BY name;""")
m3_5_culprit

    id             name  attire        scar
0  263  Benjamin Walker  jacket  right hand


   ## MYSTERY 4 ‚Äî "Metro Mask Getaway"


üïµÔ∏è **Mystery Summary:**  
A masked figure dashed through **Central Station**, leaving behind chaos at the turnstiles.  
Witnesses recall trembling hands and a **dark jacket**, while the interview tapes capture raw **nervous energy**.  
This mystery combines **scene evidence** (the mask), **physical appearance** (jacket), and **emotional cues** (panic and sweat) to reveal the culprit.

üí° **Query 1 ‚Äî SCOPE (Scene Validation):**  
We start by confirming that the crime scene description actually mentions a *mask* at *Central Station*.  
This anchors our case in reality ‚Äî the details tell us where and what to focus on.  
Verifying this ensures every later filter connects to an authentic narrative clue.

In [55]:
m4_1_all = run(r"""SELECT id, [date], location, description
FROM SQLNoir.crime_scene
WHERE location LIKE '%Station%' AND description LIKE '%mask%';""")
m4_1_all

,id,date,location,description
0,102,20160701,Central Station,A masked figure sprinted through the Central S...

üí° **Query 2 ‚Äî NARROW (Attire Filter):**  
Next, we pull every suspect known to wear a **jacket**.  
This forms our initial candidate pool ‚Äî matching the witness‚Äôs physical observation at the scene.  
We don‚Äôt yet consider their emotions or stories, only appearance.

In [56]:
m4_2_scar = run(r"""SELECT id, name, attire, scar
FROM SQLNoir.suspects
WHERE attire = 'jacket';
""")
m4_2_scar

     id              name  attire            scar
0     4     Carlos Garcia  jacket       right arm
1    13       Sam Johnson  jacket            none
2    22       Mason Clark  jacket        left ear
3    28    Benjamin Lopez  jacket            none
4    38       Lucas Scott  jacket      left cheek
5    46      Lily Jackson  jacket            none
6    52   Sebastian Smith  jacket       left hand
7    61     Sophia Harris  jacket      left thigh
8    66     Jack Mitchell  jacket     right wrist
9    76         Emma Hall  jacket            none
10   83      Isaac Martin  jacket            none
11   91    Charlotte King  jacket            none
12   95    Maxwell Taylor  jacket        left ear
13  103   Maddison Carter  jacket  right shoulder
14  109  Charlotte Harris  jacket            none
15  120       Mason Brown  jacket            none
16  124   Maddison Turner  jacket     right wrist
17  130       Ella Turner  jacket            none
18  139        Liam Brown  jacket            none
19  146    Benjamin Green  jacket            none
20  151        Zoe Taylor  jacket            none
21  160      Ethan Taylor  jacket            none
22  166      Victor Young  jacket            none
23  174     Sophie Turner  jacket            none
24  188       Chloe Brown  jacket            none
25  195       David Brown  jacket            none
26  203      Olivia Brown  jacket            none
27  210      David Harris  jacket            none
28  216        Lily White  jacket            none
29  223     Victor Walker  jacket            none
30  232    Benjamin Green  jacket            none
31  245      David Walker  jacket            none
32  253     Victor Taylor  jacket            none
33  263   Benjamin Walker  jacket      right hand
34  270      David Taylor  jacket            none
35  275      Sophie Brown  jacket            none
36  283      David Harris  jacket   left shoulder
37  289   Isabella Harris  jacket            none
38  296     Isabella King  jacket       left hand
39  301         Zoe White  jacket            none
40  312     Victor Harris  jacket            none
41  318      Mason Taylor  jacket            none
42  323      Olivia Brown  jacket            none
43  329     Sophie Taylor  jacket            none
44  334      Victor Green  jacket            none
45  337     Olivia Taylor  jacket            none
46  344      Olivia Brown  jacket            none
47  353         Zoe Brown  jacket            none
48  359      David Harris  jacket            none
49  364    Isabella Green  jacket            none
50  380     Sophie Walker  jacket            none
51  386      Victor Green  jacket            none
52  392      Olivia Brown  jacket            none
53  400   Benjamin Walker  jacket            none
54  402        Evan Cross  jacket      left cheek
55  405       Liam Torres  jacket      left cheek

üí° **Query 3 ‚Äî EVIDENCE (Emotional Cross-Check):**  
Now we bring in the **interview transcripts**.  
Here, we‚Äôre listening for linguistic signs of distress ‚Äî words like *‚Äúnervous,‚Äù ‚Äúpanic,‚Äù ‚Äúsweat.‚Äù*  
These phrases humanize the data, giving insight into who‚Äôs emotionally connected to the chaos of that night.

In [57]:
m4_3_coats = run(r"""SELECT s.id, s.name, s.attire, s.scar, i.transcript
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'jacket'
  AND (i.transcript LIKE '%nervous%' OR i.transcript LIKE '%panic%' OR i.transcript LIKE '%sweat%');
""")
m4_3_coats

,id,name,attire,scar,transcript
0,405,Liam Torres,jacket,left cheek,"I was nervous, okay? The mask made it hard to ..."

üí° **Query 4 ‚Äî SHORT LIST (Behavioral Ranking):**  
We rank each suspect based on how strongly their language expresses anxiety.  
This step lets investigators quantify demeanor ‚Äî turning tone and vocabulary into measurable suspicion.  
The nervous-score highlights who might have cracked under pressure.

In [58]:
m4_4_interviews = run(r"""SELECT s.id, s.name,
       CASE WHEN i.transcript LIKE '%nervous%' OR i.transcript LIKE '%panic%' OR i.transcript LIKE '%sweat%' THEN 1 ELSE 0 END AS nervous_score
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'jacket'
ORDER BY nervous_score DESC, s.name;
""")
m4_4_interviews

     id              name  nervous_score
0   405       Liam Torres              1
1   146    Benjamin Green              0
2   232    Benjamin Green              0
3    28    Benjamin Lopez              0
4   400   Benjamin Walker              0
5   263   Benjamin Walker              0
6     4     Carlos Garcia              0
7   109  Charlotte Harris              0
8    91    Charlotte King              0
9   188       Chloe Brown              0
10  195       David Brown              0
11  210      David Harris              0
12  283      David Harris              0
13  359      David Harris              0
14  270      David Taylor              0
15  245      David Walker              0
16  130       Ella Turner              0
17   76         Emma Hall              0
18  160      Ethan Taylor              0
19  402        Evan Cross              0
20   83      Isaac Martin              0
21  364    Isabella Green              0
22  289   Isabella Harris              0
23  296     Isabella King              0
24   66     Jack Mitchell              0
25  139        Liam Brown              0
26   46      Lily Jackson              0
27  216        Lily White              0
28   38       Lucas Scott              0
29  103   Maddison Carter              0
30  124   Maddison Turner              0
31  120       Mason Brown              0
32   22       Mason Clark              0
33  318      Mason Taylor              0
34   95    Maxwell Taylor              0
35  203      Olivia Brown              0
36  323      Olivia Brown              0
37  344      Olivia Brown              0
38  392      Olivia Brown              0
39  337     Olivia Taylor              0
40   13       Sam Johnson              0
41   52   Sebastian Smith              0
42   61     Sophia Harris              0
43  275      Sophie Brown              0
44  329     Sophie Taylor              0
45  174     Sophie Turner              0
46  380     Sophie Walker              0
47  386      Victor Green              0
48  334      Victor Green              0
49  312     Victor Harris              0
50  253     Victor Taylor              0
51  223     Victor Walker              0
52  166      Victor Young              0
53  353         Zoe Brown              0
54  151        Zoe Taylor              0
55  301         Zoe White              0

üí° **Query 5 ‚Äî CULPRIT (Final Identification):**  
Finally, we identify the **most anxious jacket-wearer** from the interview pool.  
Their transcript aligns perfectly with the witness account, confirming **Liam Torres** as the nervous masked runner.  
The emotional breakdown and physical evidence converge ‚Äî case closed.

In [59]:
m4_5_culprit = run(r"""SELECT TOP (1) s.id, s.name, s.attire, s.scar, i.transcript
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'jacket'
  AND (i.transcript LIKE '%nervous%' OR i.transcript LIKE '%panic%' OR i.transcript LIKE '%sweat%')
ORDER BY s.name;
""")
m4_5_culprit

,id,name,attire,scar,transcript
0,405,Liam Torres,jacket,left cheek,"I was nervous, okay? The mask made it hard to ..."


   ## MYSTERY 5 ‚Äî "The Ballroom Masquerade"


üïµÔ∏è **Mystery Summary:**  
At the **Grand Hotel Ballroom**, a glittering masquerade gala turned chaotic when a diamond vanished mid-dance.  
Music stopped, masks fell, and someone in a **tuxedo** stormed off, shouting in anger.  
Our job: trace the elegance, the fury, and the lie hidden behind polished shoes and silver cufflinks.

üí° **Query 1 ‚Äî SCOPE (Scene Confirmation):**  
We begin by locating the crime scene that mentions both *‚Äúmask‚Äù* and *‚Äúmusic.‚Äù*  
These two words place us squarely in the ballroom gala ‚Äî an event defined by its disguise and performance.  
Validating this scene helps narrow our investigation to the masquerade setting.

In [60]:
m5_1_suits = run(r"""SELECT id, [date], location, description
FROM SQLNoir.crime_scene
WHERE location LIKE '%Ballroom%' AND description LIKE '%mask%' AND description LIKE '%music%';
""")
m5_1_suits

,id,date,location,description
0,103,20161015,Grand Hotel Ballroom,A stolen diamond disappeared during the masque...

üí° **Query 2 ‚Äî NARROW (Attire Selection):**  
With the gala context confirmed, we filter suspects who wore **tuxedos**.  
Formal wear instantly connects them to the event‚Äôs guest list.  
This step turns a room full of possibilities into a small circle of high-society suspects.

In [61]:
m5_2_visible = run(r"""SELECT id, name, attire, scar
FROM SQLNoir.suspects
WHERE attire = 'tuxedo';
""")
m5_2_visible

     id             name  attire         scar
0     7    Richard Brown  tuxedo         none
1    19     Tommy Walker  tuxedo         none
2    30  Matthew Collins  tuxedo         none
3    41  William Johnson  tuxedo         none
4    50     Dylan Walker  tuxedo         none
5    73   Chloe Anderson  tuxedo         none
6    93  Sebastian Lewis  tuxedo         none
7   111     Emily Taylor  tuxedo         none
8   129      Liam Martin  tuxedo         none
9   141    Olivia Turner  tuxedo         none
10  161      Olivia King  tuxedo         none
11  170     Olivia Green  tuxedo         none
12  181     Victor Green  tuxedo         none
13  191     Olivia Green  tuxedo         none
14  201     Mason Walker  tuxedo         none
15  214      Ethan Davis  tuxedo         none
16  266    Sophie Harris  tuxedo         none
17  284     Victor White  tuxedo         none
18  383      Lucas Green  tuxedo         none
19  393     Victor White  tuxedo         none
20  406     Victor Price  tuxedo  right cheek

üí° **Query 3 ‚Äî EVIDENCE (Emotional Filter):**  
Here we listen to the words beneath the surface ‚Äî the **interview transcripts**.  
Expressions like *‚ÄúI swear,‚Äù ‚Äúplease listen,‚Äù ‚Äúthey think I yelled‚Äù* betray emotional cracks in composure.  
Olivia‚Äôs repeated insistence of innocence sounds more rehearsed than truthful, revealing her inner tension.

In [62]:
m5_3_interviews = run(r"""SELECT s.id, s.name, s.attire, s.scar, i.transcript
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'tuxedo'
  AND (i.transcript LIKE '%angry%' OR i.transcript LIKE '%swear%' OR i.transcript LIKE '%yell%');
""")
m5_3_interviews

,id,name,attire,scar,transcript
0,161,Olivia King,tuxedo,none,"I wasn't near the crime scene, I swear."
1,406,Victor Price,tuxedo,right cheek,I swear I didn‚Äôt yell at anyone! I was angry b...

üí° **Query 4 ‚Äî SHORT LIST (Intensity Ranking):**  
Here, we score every tuxedo suspect based on emotional intensity.  
Those whose words show anger or denial rise to the top, forming our shortlist.  
The emotional frequency helps separate the truly pressured from the calm liars.

In [63]:
m5_4_shortlist = run(r"""SELECT s.id, s.name,
       CASE WHEN i.transcript LIKE '%angry%' OR i.transcript LIKE '%swear%' OR i.transcript LIKE '%yell%' THEN 1 ELSE 0 END AS emotion_score
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'tuxedo'
ORDER BY emotion_score DESC, s.name;
""")
m5_4_shortlist

     id             name  emotion_score
0   161      Olivia King              1
1   406     Victor Price              1
2    73   Chloe Anderson              0
3    50     Dylan Walker              0
4   111     Emily Taylor              0
5   214      Ethan Davis              0
6   129      Liam Martin              0
7   383      Lucas Green              0
8   201     Mason Walker              0
9    30  Matthew Collins              0
10  191     Olivia Green              0
11  170     Olivia Green              0
12  141    Olivia Turner              0
13    7    Richard Brown              0
14   93  Sebastian Lewis              0
15  266    Sophie Harris              0
16   19     Tommy Walker              0
17  181     Victor Green              0
18  284     Victor White              0
19  393     Victor White              0
20   41  William Johnson              0

üí° **Query 5 ‚Äî CULPRIT (The Defensive Guest):**  
Ultimately, **Olivia King** emerges as the definitive match ‚Äî her transcript blends grace with barely restrained anxiety.  
Her tone, equal parts poise and protest, mirrors the scene‚Äôs dissonance: music silenced, elegance shattered.  
The ballroom lights may have dimmed, but her words illuminated guilt.

In [64]:
m5_5_culprit = run(r"""SELECT TOP (1) s.id, s.name, s.attire, s.scar, i.transcript
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'tuxedo'
  AND (i.transcript LIKE '%angry%' OR i.transcript LIKE '%swear%' OR i.transcript LIKE '%yell%')
ORDER BY s.name;
""")
m5_5_culprit

    id         name  attire  scar                               transcript
0  161  Olivia King  tuxedo  none  I wasn't near the crime scene, I swear.


   ## MYSTERY 6 ‚Äî "The Rain-Soaked Gallery"


üïµÔ∏è **Mystery Summary:**  
On a stormy night at the **City Gallery**, broken glass glittered beside a forgotten **umbrella**.  
A man in a **blazer** lingered near the shattered frame, speaking softly about ‚Äúart‚Äù and ‚Äúlight.‚Äù  
The mystery contrasts a calm exterior with the tension of a wet, chaotic night.

üí° **Query 1 ‚Äî SCOPE (Scene Verification):**  
We first confirm that the gallery‚Äôs description includes *‚Äúumbrella‚Äù* or *‚Äúraincoat.‚Äù*  
This anchors our evidence to a rainy, emotionally subdued setting.  
Every story must begin with a clear picture of place and atmosphere.

In [65]:
m6_1_suits = run(r"""SELECT id, [date], location, description
FROM SQLNoir.crime_scene
WHERE location LIKE '%Gallery%' AND (description LIKE '%umbrella%' OR description LIKE '%raincoat%');
""")
m6_1_suits

,id,date,location,description
0,104,20170311,City Gallery,"During a rainy night, an umbrella was found be..."

üí° **Query 2 ‚Äî NARROW (Attire Selection):**  
Then we isolate suspects wearing **blazers**, aligning with the witness‚Äôs sighting near the gallery.  
This attire choice already suggests refinement ‚Äî an ideal cover for someone who blends into an art crowd.  
We move from dozens of suspects to a single stylish handful.

In [66]:
m6_2_rankscar = run(r"""SELECT id, name, attire, scar
FROM SQLNoir.suspects
WHERE attire = 'blazer';
""")
m6_2_rankscar

     id                    name  attire         scar
0    15             Daniel King  blazer   left thigh
1    26            Andrew Moore  blazer  right cheek
2    35         Charlotte White  blazer         none
3    43        Jackson Mitchell  blazer         none
4    48           Sophie Harris  blazer         none
5    56      Charlotte Robinson  blazer         none
6    62             Grace Scott  blazer         none
7    74               Ava Moore  blazer         none
8    80            Mason Turner  blazer   right knee
9    86           Jack Robinson  blazer         none
10   97               Chloe Lee  blazer         none
11  104           Jackson Brown  blazer         none
12  112              John White  blazer         none
13  126          Benjamin White  blazer         none
14  136         Benjamin Harris  blazer         none
15  142              David King  blazer         none
16  149              Ethan King  blazer         none
17  159             David Green  blazer         none
18  179             Liam Turner  blazer         none
19  200           Sophie Taylor  blazer         none
20  208            Olivia Davis  blazer         none
21  218            David Taylor  blazer         none
22  225             Ethan Brown  blazer         none
23  235            Victor Davis  blazer         none
24  244           Olivia Taylor  blazer         none
25  252            Olivia Green  blazer     left leg
26  260              David King  blazer         none
27  273          Benjamin White  blazer         none
28  282                Zoe King  blazer         none
29  290             Ethan Green  blazer         none
30  295            Sophia White  blazer         none
31  304             Lucas White  blazer         none
32  309            Sophia White  blazer         none
33  314         Benjamin Taylor  blazer         none
34  319            Victor Green  blazer         none
35  326            Mason Harris  blazer         none
36  335            Sophie White  blazer         none
37  342             David White  blazer         none
38  351             Lucas White  blazer         none
39  365             David Brown  blazer         none
40  376            Sophie Green  blazer         none
41  385             Olivia King  blazer         none
42  389          Benjamin Brown  blazer         none
43  396              David King  blazer         none
44  401  Marcus ‚ÄúDockside‚Äù Hale  blazer  right cheek
45  403  Marcus 'Dockside' Hale  blazer  right cheek
46  404             Marcus Hale  blazer  right cheek
47  407              Elias Ward  blazer         none

üí° **Query 3 ‚Äî EVIDENCE (Emotional Filter):**  
We pull in interviews to read between the lines.  
Terms like *‚Äúpainting,‚Äù ‚Äúart,‚Äù ‚Äúquiet‚Äù* reflect calm composure ‚Äî emotional fingerprints of someone at ease.  
This linguistic serenity is suspicious amid the chaos of a break-in.

In [67]:
m6_3_interviews = run(r"""SELECT s.id, s.name, s.attire, s.scar, i.transcript
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'blazer'
  AND (i.transcript LIKE '%painting%' OR i.transcript LIKE '%art%' OR i.transcript LIKE '%quiet%');
""")
m6_3_interviews

,id,name,attire,scar,transcript
0,80,Mason Turner,blazer,right knee,I wasn't part of any of this.
1,407,Elias Ward,blazer,none,The rain was calming. I was just admiring the ...

üí° **Query 4 ‚Äî SHORT LIST (Intensity Ranking):**  
We score each blazer wearer for artistic or tranquil tone.  
Those whose words resonate with calm reflection rise to the top.  
This is psychological profiling through text ‚Äî the stillness that betrays involvement.

In [68]:
m6_4_scored = run(r"""SELECT s.id, s.name,
       CASE WHEN i.transcript LIKE '%painting%' OR i.transcript LIKE '%art%' OR i.transcript LIKE '%quiet%' THEN 1 ELSE 0 END AS calm_score
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'blazer'
ORDER BY calm_score DESC, s.name;
""")
m6_4_scored

     id                    name  calm_score
0   407              Elias Ward           1
1    80            Mason Turner           1
2    26            Andrew Moore           0
3    74               Ava Moore           0
4   389          Benjamin Brown           0
5   136         Benjamin Harris           0
6   314         Benjamin Taylor           0
7   126          Benjamin White           0
8   273          Benjamin White           0
9    56      Charlotte Robinson           0
10   35         Charlotte White           0
11   97               Chloe Lee           0
12   15             Daniel King           0
13  365             David Brown           0
14  159             David Green           0
15  142              David King           0
16  396              David King           0
17  260              David King           0
18  218            David Taylor           0
19  342             David White           0
20  225             Ethan Brown           0
21  290             Ethan Green           0
22  149              Ethan King           0
23   62             Grace Scott           0
24   86           Jack Robinson           0
25  104           Jackson Brown           0
26   43        Jackson Mitchell           0
27  112              John White           0
28  179             Liam Turner           0
29  304             Lucas White           0
30  351             Lucas White           0
31  401  Marcus ‚ÄúDockside‚Äù Hale           0
32  403  Marcus 'Dockside' Hale           0
33  404             Marcus Hale           0
34  326            Mason Harris           0
35  208            Olivia Davis           0
36  252            Olivia Green           0
37  385             Olivia King           0
38  244           Olivia Taylor           0
39  309            Sophia White           0
40  295            Sophia White           0
41  376            Sophie Green           0
42   48           Sophie Harris           0
43  200           Sophie Taylor           0
44  335            Sophie White           0
45  235            Victor Davis           0
46  319            Victor Green           0
47  282                Zoe King           0

üí° **Query 5 ‚Äî CULPRIT (The Unmasked Dancer):**  
Ultimately, **Elias Ward** fits the puzzle perfectly.  
His gentle, poetic answers mirror the art he supposedly admired ‚Äî yet also the cold precision of a thief.  
The rain, the frame, and the quiet voice complete the portrait of guilt.

In [69]:
m6_5_culprit = run(r"""SELECT TOP (1) s.id, s.name, s.attire, s.scar, i.transcript
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'blazer'
  AND (i.transcript LIKE '%painting%' OR i.transcript LIKE '%art%' OR i.transcript LIKE '%quiet%')
ORDER BY s.name;
""")
m6_5_culprit

,id,name,attire,scar,transcript
0,407,Elias Ward,blazer,none,The rain was calming. I was just admiring the ...

## üïµÔ∏è Mystery 7 ‚Äî ‚ÄúHarbor Warehouse Job‚Äù
**Clues:** blazer + right-cheek scar; prefer transcripts mentioning ‚ÄòHarbor‚Äô/‚ÄòDock‚Äô.

### 1Ô∏è‚É£ Scope ‚Äî Blazer Cohort
**Description:** Start with all blazer wearers.  
**How it works:** Filter `attire='blazer'`.  
**Why it‚Äôs useful:** Frames the attire context near the docks.

In [70]:
m7_1_blazers = run(r"""SELECT id, name, attire, scar
FROM SQLNoir.suspects
WHERE attire = 'blazer';""")
m7_1_blazers

     id                    name  attire         scar
0    15             Daniel King  blazer   left thigh
1    26            Andrew Moore  blazer  right cheek
2    35         Charlotte White  blazer         none
3    43        Jackson Mitchell  blazer         none
4    48           Sophie Harris  blazer         none
5    56      Charlotte Robinson  blazer         none
6    62             Grace Scott  blazer         none
7    74               Ava Moore  blazer         none
8    80            Mason Turner  blazer   right knee
9    86           Jack Robinson  blazer         none
10   97               Chloe Lee  blazer         none
11  104           Jackson Brown  blazer         none
12  112              John White  blazer         none
13  126          Benjamin White  blazer         none
14  136         Benjamin Harris  blazer         none
15  142              David King  blazer         none
16  149              Ethan King  blazer         none
17  159             David Green  blazer         none
18  179             Liam Turner  blazer         none
19  200           Sophie Taylor  blazer         none
20  208            Olivia Davis  blazer         none
21  218            David Taylor  blazer         none
22  225             Ethan Brown  blazer         none
23  235            Victor Davis  blazer         none
24  244           Olivia Taylor  blazer         none
25  252            Olivia Green  blazer     left leg
26  260              David King  blazer         none
27  273          Benjamin White  blazer         none
28  282                Zoe King  blazer         none
29  290             Ethan Green  blazer         none
30  295            Sophia White  blazer         none
31  304             Lucas White  blazer         none
32  309            Sophia White  blazer         none
33  314         Benjamin Taylor  blazer         none
34  319            Victor Green  blazer         none
35  326            Mason Harris  blazer         none
36  335            Sophie White  blazer         none
37  342             David White  blazer         none
38  351             Lucas White  blazer         none
39  365             David Brown  blazer         none
40  376            Sophie Green  blazer         none
41  385             Olivia King  blazer         none
42  389          Benjamin Brown  blazer         none
43  396              David King  blazer         none
44  401  Marcus ‚ÄúDockside‚Äù Hale  blazer  right cheek
45  403  Marcus 'Dockside' Hale  blazer  right cheek
46  404             Marcus Hale  blazer  right cheek
47  407              Elias Ward  blazer         none

### 2Ô∏è‚É£ Narrow ‚Äî Right-Cheek Scar
**Description:** Keep only blazer wearers with a right-cheek scar.  
**How it works:** Conjunctive condition on `scar`.  
**Why it‚Äôs useful:** Strong distinguishing physical clue.

In [71]:
m7_2_rightcheek = run(r"""SELECT id, name, attire, scar
FROM SQLNoir.suspects
WHERE attire = 'blazer' AND scar = 'right cheek';""")
m7_2_rightcheek

    id                    name  attire         scar
0   26            Andrew Moore  blazer  right cheek
1  401  Marcus ‚ÄúDockside‚Äù Hale  blazer  right cheek
2  403  Marcus 'Dockside' Hale  blazer  right cheek
3  404             Marcus Hale  blazer  right cheek

### 3Ô∏è‚É£ Evidence ‚Äî Interviews Join
**Description:** Attach transcripts for scene corroboration.  
**How it works:** **LEFT JOIN** suspects‚Üíinterviews on `suspect_id`.  
**Why it‚Äôs useful:** Enables keyword hunting for locations/behavior.

In [72]:
m7_3_interviews = run(r"""SELECT s.id, s.name, s.scar, i.transcript
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'blazer' AND s.scar = 'right cheek';""")
m7_3_interviews

,id,name,scar,transcript
0,26,Andrew Moore,right cheek,"I wasn't even in the area, sorry."
1,401,Marcus ‚ÄúDockside‚Äù Hale,right cheek,None
2,403,Marcus 'Dockside' Hale,right cheek,"Look, everyone hangs near Dock 7 after shift. ..."
3,404,Marcus Hale,right cheek,"Look, everyone hangs near Dock 7 after shift. ..."

### 4Ô∏è‚É£ Short List ‚Äî Scene Mention Score
**Description:** Score: transcript mentions ‚ÄúHarbor‚Äù/‚ÄúDock‚Äù = 1; sort score desc then name.  
**How it works:** Text match on transcript to compute `mentions_scene`.  
**Why it‚Äôs useful:** Prioritizes location-consistent statements.

In [76]:
m7_4_scene = run(r"""
SELECT DISTINCT s.name,
       CASE WHEN i.transcript LIKE '%Harbor%' OR i.transcript LIKE '%Dock%' THEN 1 ELSE 0 END AS mentions_scene
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'blazer' AND s.scar = 'right cheek'
ORDER BY mentions_scene DESC, s.name;
""")
m7_4_scene

                     name  mentions_scene
0  Marcus 'Dockside' Hale               1
1             Marcus Hale               1
2            Andrew Moore               0
3  Marcus ‚ÄúDockside‚Äù Hale               0

### 5Ô∏è‚É£ Culprit ‚Äî Final with Context
**Description:** Highest scene-score candidate (tiebreak by name); display transcript.  
**How it works:** Deterministic ordering by `mentions_scene` then name.  
**Why it‚Äôs useful:** Answer carries the most contextually aligned narrative proof.

In [74]:
m7_5_culprit = run(r"""SELECT TOP (1) s.id, s.name, s.attire, s.scar, i.transcript
FROM SQLNoir.suspects s
LEFT JOIN SQLNoir.interviews i ON i.suspect_id = s.id
WHERE s.attire = 'blazer' AND s.scar = 'right cheek'
ORDER BY
  CASE WHEN i.transcript LIKE '%Harbor%' OR i.transcript LIKE '%Dock%' THEN 0 ELSE 1 END,
  s.name;""")
m7_5_culprit

,id,name,attire,scar,transcript
0,403,Marcus 'Dockside' Hale,blazer,right cheek,"Look, everyone hangs near Dock 7 after shift. ..."