In [ ]:
%pip uninstall -y SQLAlchemy
%pip install "SQLAlchemy>=2.0,<2.1" ipython-sql pyodbc
import sqlalchemy, sys
print("SQLAlchemy:", sqlalchemy.__version__, "| Python:", sys.version)

In [ ]:
%pip install "prettytable<3.10"

In [6]:
%load_ext sql

In [7]:
%sql mssql+pyodbc://sa:YourStrong!Passw0rd@localhost:1433/WideWorldImporters?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes

In [8]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %code_wrap  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %mamba  %man  %matplotlib  %micromamba  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %sql  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %uv  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%code_wrap  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%sql  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

-- Proposition 1: Identify 10 supplierâ€“item pairs that generated sales within the last 30 days of available invoice data

In [41]:
%%sql
SELECT TOP (10)
  s.SupplierName,
  si.StockItemName,
  i.InvoiceDate
FROM Purchasing.Suppliers AS s
JOIN Warehouse.StockItems  AS si ON si.SupplierID  = s.SupplierID
JOIN Sales.InvoiceLines    AS il ON il.StockItemID = si.StockItemID
JOIN Sales.Invoices        AS i  ON i.InvoiceID    = il.InvoiceID
WHERE i.InvoiceDate >= DATEADD(DAY, -30, (SELECT MAX(InvoiceDate) FROM Sales.Invoices))
ORDER BY i.InvoiceDate DESC, s.SupplierName, si.StockItemName;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('A Datum Corporation', 'Chocolate beetles 250g', datetime.date(2016, 5, 31)),
 ('A Datum Corporation', 'Chocolate echidnas 250g', datetime.date(2016, 5, 31)),
 ('A Datum Corporation', 'Chocolate frogs 250g', datetime.date(2016, 5, 31)),
 ('A Datum Corporation', 'Novelty chilli chocolates 500g', datetime.date(2016, 5, 31)),
 ('A Datum Corporation', 'White chocolate moon rocks 250g', datetime.date(2016, 5, 31)),
 ('A Datum Corporation', 'White chocolate moon rocks 250g', datetime.date(2016, 5, 31)),
 ('A Datum Corporation', 'White chocolate moon rocks 250g', datetime.date(2016, 5, 31)),
 ('A Datum Corporation', 'White chocolate snow balls 250g', datetime.date(2016, 5, 31)),
 ('A Datum Corporation', 'White chocolate snow balls 250g', datetime.date(2016, 5, 31)),
 ('Contoso, Ltd.', 'Pack of 12 action figures (male)', datetime.date(2016, 5, 31))]

-- Proposition 2: Summarize supplierâ€“item pairs by presenting 5 examples and highlighting the latest invoice date for items sold within the last 180 days of available data

In [42]:

%%sql
SELECT TOP(5)
  s.SupplierName,
  si.StockItemName,
  MAX(i.InvoiceDate) AS LastInvoiceDate
FROM Purchasing.Suppliers AS s
JOIN Warehouse.StockItems  AS si ON si.SupplierID = s.SupplierID
JOIN Sales.InvoiceLines    AS il ON il.StockItemID = si.StockItemID
JOIN Sales.Invoices        AS i  ON i.InvoiceID    = il.InvoiceID
WHERE i.InvoiceDate >= DATEADD(DAY, -180, (SELECT MAX(InvoiceDate) FROM Sales.Invoices))
GROUP BY s.SupplierName, si.StockItemName
ORDER BY LastInvoiceDate DESC;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Northwind Electric Cars', 'RC toy sedan car with remote control (Black) 1/50 scale', datetime.date(2016, 5, 31)),
 ('Litware, Inc.', 'Tape dispenser (Blue)', datetime.date(2016, 5, 31)),
 ('Fabrikam, Inc.', 'Halloween zombie mask (Light Brown) L', datetime.date(2016, 5, 31)),
 ('Fabrikam, Inc.', '"The Gu" red shirt XML tag t-shirt (White) 3XS', datetime.date(2016, 5, 31)),
 ('Graphic Design Institute', 'Developer joke mug - old C developers never die (Black)', datetime.date(2016, 5, 31))]

-- Proposition 3: Determine the top five customers ranked by total lifetime revenue, based on aggregated invoice line extended prices.

In [43]:
%%sql
SELECT TOP(5) 
c.CustomerName, 
SUM(il.ExtendedPrice) AS TotalRevenue
FROM Sales.Invoices as i
JOIN Sales.InvoiceLines AS il ON il.InvoiceID = i.InvoiceID
JOIN Sales.Customers AS c ON c.CustomerID  = i.CustomerID
GROUP BY c.CustomerName
ORDER BY TotalRevenue DESC;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Tailspin Toys (Inguadona, MN)', Decimal('438689.81')),
 ('Tailspin Toys (Minidoka, ID)', Decimal('427445.57')),
 ('Mauno Laurila', Decimal('424324.76')),
 ('Wingtip Toys (Sarversville, PA)', Decimal('420001.08')),
 ('Nasrin Omidzadeh', Decimal('416005.03'))]

-- Proposition 4: Stock item colors that appear most across the catalog

In [44]:
%%sql
SELECT TOP (10)
    COALESCE(col.ColorName, 'No Color') AS ColorName,
    COUNT(*) AS ItemsWithThisColor
FROM Warehouse.StockItems AS si
LEFT JOIN Warehouse.Colors AS col
  ON col.ColorID = si.ColorID
GROUP BY COALESCE(col.ColorName, 'No Color')
ORDER BY ItemsWithThisColor DESC, ColorName;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('No Color', 99),
 ('Black', 51),
 ('White', 34),
 ('Blue', 23),
 ('Steel Gray', 9),
 ('Red', 5),
 ('Light Brown', 4),
 ('Yellow', 2)]

-- Proposition 5: Evaluate invoices delivered to New York or Rockwall customers by showing invoice totals, line counts, and city details.

In [53]:
%%sql
SELECT TOP (15)
  i.InvoiceID,
  c.CustomerName,
  ci.CityName,
  COUNT(il.InvoiceLineID) AS LineCount,
  SUM(il.ExtendedPrice)   AS InvoiceTotal
FROM Sales.Invoices AS i
JOIN Sales.Customers     AS c  ON c.CustomerID   = i.CustomerID
JOIN Application.Cities  AS ci ON ci.CityID      = c.DeliveryCityID
LEFT JOIN Sales.InvoiceLines AS il ON il.InvoiceID = i.InvoiceID
WHERE ci.CityName = 'New York' OR ci.CityName = 'Rockwall'
GROUP BY i.InvoiceID, c.CustomerName, ci.CityName
ORDER BY InvoiceTotal DESC;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[(28171, 'Tailspin Toys (Rockwall, TX)', 'Rockwall', 5, Decimal('17383.98')),
 (40956, 'Wingtip Toys (Rockwall, TX)', 'Rockwall', 5, Decimal('13051.35')),
 (9741, 'Wingtip Toys (Rockwall, TX)', 'Rockwall', 3, Decimal('12093.98')),
 (64086, 'Tailspin Toys (Rockwall, TX)', 'Rockwall', 4, Decimal('11976.10')),
 (56543, 'Tailspin Toys (Rockwall, TX)', 'Rockwall', 4, Decimal('11938.15')),
 (38086, 'Wingtip Toys (Rockwall, TX)', 'Rockwall', 4, Decimal('11845.00')),
 (37269, 'Wingtip Toys (Rockwall, TX)', 'Rockwall', 4, Decimal('11715.05')),
 (3696, 'Wingtip Toys (Rockwall, TX)', 'Rockwall', 5, Decimal('10321.25')),
 (8576, 'Tailspin Toys (Rockwall, TX)', 'Rockwall', 4, Decimal('10276.40')),
 (9304, 'Wingtip Toys (Rockwall, TX)', 'Rockwall', 3, Decimal('8216.75')),
 (60157, 'Tailspin Toys (Rockwall, TX)', 'Rockwall', 1, Decimal('7969.50')),
 (34138, 'Wingtip Toys (Rockwall, TX)', 'Rockwall', 4, Decimal('7772.85')),
 (6445, 'Wingtip Toys (Rockwall, TX)', 'Rockwall', 5, Decimal('7644.05')),
 (35337, 'Tailspin Toys (Rockwall, TX)', 'Rockwall', 4, Decimal('7599.20')),
 (60007, 'Tailspin Toys (Rockwall, TX)', 'Rockwall', 3, Decimal('7469.25'))]

-- Proposition 6: Highlight twenty stock items across suppliers and groups that achieved more than 1,000 units sold in the most recent ninety days of invoice data.

In [46]:
%%sql
SELECT TOP (20)
  sg.StockGroupName,
  s.SupplierName,
  si.StockItemName,
  SUM(il.Quantity) AS TotalUnits_Recent
FROM Warehouse.StockItems AS si
JOIN Purchasing.Suppliers AS s  ON s.SupplierID = si.SupplierID
LEFT JOIN Warehouse.StockItemStockGroups AS sisg ON sisg.StockItemID = si.StockItemID
LEFT JOIN Warehouse.StockGroups        AS sg   ON sg.StockGroupID    = sisg.StockGroupID
JOIN Sales.InvoiceLines AS il ON il.StockItemID = si.StockItemID
JOIN Sales.Invoices     AS i  ON i.InvoiceID     = il.InvoiceID
WHERE i.InvoiceDate >= DATEADD(DAY, -90, (SELECT MAX(InvoiceDate) FROM Sales.Invoices))
GROUP BY sg.StockGroupName, s.SupplierName, si.StockItemName
HAVING SUM(il.Quantity) > 1000
ORDER BY TotalUnits_Recent DESC;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Packaging Materials', 'Litware, Inc.', 'Black and orange fragile despatch tape 48mmx75m', 15876),
 ('Packaging Materials', 'Litware, Inc.', 'Black and orange fragile despatch tape 48mmx100m', 14796),
 ('Packaging Materials', 'Litware, Inc.', 'Clear packaging tape 48mmx75m', 14040),
 ('Packaging Materials', 'Litware, Inc.', 'Shipping carton (Brown) 413x285x187mm', 13975),
 ('Packaging Materials', 'Litware, Inc.', 'Shipping carton (Brown) 356x229x229mm', 12975),
 ('Packaging Materials', 'Litware, Inc.', 'Express post box 5kg (White) 350x280x130mm', 12675),
 ('Novelty Items', 'A Datum Corporation', 'Chocolate beetles 250g', 12600),
 ('Packaging Materials', 'Litware, Inc.', 'Shipping carton (Brown) 356x356x279mm', 12425),
 ('Packaging Materials', 'Litware, Inc.', 'Black and yellow heavy despatch tape 48mmx100m', 12168),
 ('Packaging Materials', 'Litware, Inc.', 'Shipping carton (Brown) 480x270x320mm', 12100),
 ('Packaging Materials', 'Litware, Inc.', 'Shipping carton (Brown) 229x229x229mm', 11800),
 ('Packaging Materials', 'Litware, Inc.', 'Shipping carton (Brown) 457x457x457mm', 11750),
 ('Packaging Materials', 'Litware, Inc.', 'Shipping carton (Brown) 279x254x217mm', 11700),
 ('Packaging Materials', 'Litware, Inc.', 'Red and white urgent despatch tape 48mmx75m', 11232),
 ('Packaging Materials', 'Litware, Inc.', 'Black and orange handle with care despatch tape  48mmx100m', 11016),
 ('Packaging Materials', 'Litware, Inc.', 'Black and orange glass with care despatch tape  48mmx100m', 10872),
 ('Novelty Items', 'A Datum Corporation', 'White chocolate snow balls 250g', 10824),
 ('Packaging Materials', 'Litware, Inc.', '3 kg Courier post bag (White) 300x190x95mm', 10750),
 ('Packaging Materials', 'Litware, Inc.', 'Shipping carton (Brown) 500x310x310mm', 10600),
 ('Novelty Items', 'A Datum Corporation', 'Novelty chilli chocolates 250g', 10560)]

-- Proposition 7: Measure salesperson performance in the last ninety days by listing ten individuals with their order counts, customer counts, and total revenue.

In [47]:
%%sql
SELECT TOP (10)
  p.FullName AS Salesperson,
  COUNT(DISTINCT o.OrderID)    AS TotalOrders_Recent,
  COUNT(DISTINCT o.CustomerID) AS CustomersServed_Recent,
  SUM(il.ExtendedPrice)        AS TotalRevenue_Recent
FROM Sales.Orders AS o
JOIN Application.People AS p ON p.PersonID = o.SalespersonPersonID
JOIN Sales.Invoices     AS i ON i.OrderID  = o.OrderID
JOIN Sales.InvoiceLines AS il ON il.InvoiceID = i.InvoiceID
WHERE o.OrderDate >= DATEADD(DAY, -90, (SELECT MAX(OrderDate) FROM Sales.Orders))
GROUP BY p.FullName
ORDER BY TotalRevenue_Recent DESC;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Taj Shand', 577, 365, Decimal('1766388.56')),
 ('Archer Lamble', 556, 367, Decimal('1734917.05')),
 ('Jack Potter', 574, 379, Decimal('1683463.77')),
 ('Hudson Onslow', 549, 382, Decimal('1600622.63')),
 ('Hudson Hollinworth', 567, 367, Decimal('1541186.00')),
 ('Lily Code', 528, 351, Decimal('1527823.00')),
 ('Sophia Hinton', 516, 368, Decimal('1517392.93')),
 ('Amy Trefl', 544, 349, Decimal('1500806.52')),
 ('Kayla Woodcock', 524, 360, Decimal('1457426.77')),
 ('Anthony Grosse', 513, 342, Decimal('1455245.15'))]

-- Proposition 8: Identify loyal, high-value customers by selecting those with at least 120 invoices and over 400,000 in total lifetime spending.

In [ ]:
%%sql
SELECT
    c.CustomerID,
    c.CustomerName,
    SUM(il.ExtendedPrice)       AS TotalSpend,
    COUNT(DISTINCT i.InvoiceID) AS InvoiceCount,
    MIN(i.InvoiceDate)          AS FirstPurchaseDate,
    MAX(i.InvoiceDate)          AS LastPurchaseDate,
    'LOYAL'                     AS LoyaltyLabel
FROM Sales.Customers AS c
JOIN Sales.Invoices  AS i  ON i.CustomerID = c.CustomerID
JOIN Sales.InvoiceLines AS il ON il.InvoiceID = i.InvoiceID
GROUP BY c.CustomerID, c.CustomerName
HAVING 
    COUNT(DISTINCT i.InvoiceID) >= 120   
    AND SUM(il.ExtendedPrice) > 400000      
ORDER BY TotalSpend DESC;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[(149, 'Tailspin Toys (Inguadona, MN)', Decimal('438689.81'), 126, datetime.date(2013, 1, 7), datetime.date(2016, 5, 24), 'LOYAL'),
 (132, 'Tailspin Toys (Minidoka, ID)', Decimal('427445.57'), 125, datetime.date(2013, 1, 7), datetime.date(2016, 5, 26), 'LOYAL'),
 (580, 'Wingtip Toys (Sarversville, PA)', Decimal('420001.08'), 136, datetime.date(2013, 1, 5), datetime.date(2016, 5, 6), 'LOYAL'),
 (954, 'Nasrin Omidzadeh', Decimal('416005.03'), 124, datetime.date(2013, 1, 25), datetime.date(2016, 5, 19), 'LOYAL'),
 (964, 'Ingrida Zeltina', Decimal('413817.88'), 135, datetime.date(2013, 1, 1), datetime.date(2016, 5, 23), 'LOYAL'),
 (472, 'Wingtip Toys (San Jacinto, CA)', Decimal('408524.95'), 125, datetime.date(2013, 1, 18), datetime.date(2016, 5, 24), 'LOYAL'),
 (841, 'Camille Authier', Decimal('406493.27'), 120, datetime.date(2013, 1, 2), datetime.date(2016, 5, 9), 'LOYAL'),
 (1001, 'Dinh Mai', Decimal('406113.43'), 127, datetime.date(2013, 2, 22), datetime.date(2016, 5, 26), 'LOYAL'),
 (593, 'Wingtip Toys (Cuyamungue, NM)', Decimal('405824.67'), 125, datetime.date(2013, 1, 25), datetime.date(2016, 5, 28), 'LOYAL'),
 (510, 'Wingtip Toys (Grabill, IN)', Decimal('403635.05'), 120, datetime.date(2013, 1, 7), datetime.date(2016, 5, 30), 'LOYAL')]

-- Proposition 9: Assess supplier activity by listing fifteen suppliers with item counts and total ordered outers over the past 365 days of purchase order data, including those with minimal or no activity.

In [49]:
%%sql
SELECT TOP (15)
  s.SupplierName,
  COUNT(si.StockItemID)             AS TotalItems,
  ISNULL(SUM(pol.OrderedOuters), 0) AS TotalOrdered_Recent
FROM Purchasing.Suppliers AS s
LEFT JOIN Warehouse.StockItems AS si
  ON si.SupplierID = s.SupplierID
LEFT JOIN Purchasing.PurchaseOrderLines AS pol
  ON pol.StockItemID = si.StockItemID
LEFT JOIN Purchasing.PurchaseOrders AS po
  ON po.PurchaseOrderID = pol.PurchaseOrderID
 AND po.OrderDate >= DATEADD(DAY, -365, (SELECT MAX(OrderDate) FROM Purchasing.PurchaseOrders))
GROUP BY s.SupplierName
HAVING COUNT(si.StockItemID) = 0 OR SUM(pol.OrderedOuters) < 100
ORDER BY TotalOrdered_Recent ASC, s.SupplierName;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Consolidated Messenger', 0, 0),
 ('Humongous Insurance', 0, 0),
 ('Lucerne Publishing', 0, 0),
 ('Nod Publishers', 0, 0),
 ('Trey Research', 0, 0),
 ('Woodgrove Bank', 0, 0),
 ('Contoso, Ltd.', 3, 57)]

-- Proposition 10: Compare market presence by listing fifteen cities where both customers and suppliers are located, showing counts for each group and combined totals.

In [12]:
%%sql
SELECT TOP (15)
    co.CountryName,
    ci.CityName,
    COUNT(DISTINCT c.CustomerID) AS NumCustomers,
    COUNT(DISTINCT s.SupplierID) AS NumSuppliers,
    COUNT(DISTINCT c.CustomerID) + COUNT(DISTINCT s.SupplierID) AS TotalPresence
FROM Application.Countries AS co
JOIN Application.StateProvinces sp ON sp.CountryID = co.CountryID
JOIN Application.Cities ci         ON ci.StateProvinceID = sp.StateProvinceID
LEFT JOIN Sales.Customers c        ON c.DeliveryCityID   = ci.CityID
LEFT JOIN Purchasing.Suppliers s   ON s.DeliveryCityID   = ci.CityID
GROUP BY co.CountryName, ci.CityName
HAVING COUNT(DISTINCT c.CustomerID) > 0 
    OR COUNT(DISTINCT s.SupplierID) > 0
ORDER BY TotalPresence DESC, co.CountryName, ci.CityName;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('United States', 'Akhiok', 2, 0, 2),
 ('United States', 'Cherry Grove Beach', 2, 0, 2),
 ('United States', 'East Fultonham', 2, 0, 2),
 ('United States', 'Isabela', 2, 0, 2),
 ('United States', 'Palmas del Mar', 2, 0, 2),
 ('United States', 'Rockwall', 2, 0, 2),
 ('United States', 'San Francisco', 0, 2, 2),
 ('United States', 'Sinclair', 2, 0, 2),
 ('United States', 'Teutopolis', 2, 0, 2),
 ('United States', 'Abbottsburg', 1, 0, 1),
 ('United States', 'Absecon', 1, 0, 1),
 ('United States', 'Accomac', 1, 0, 1),
 ('United States', 'Aceitunas', 1, 0, 1),
 ('United States', 'Airport Drive', 1, 0, 1),
 ('United States', 'Alcester', 1, 0, 1)]